@using Restaurant.Client.Contracts.Blogs

<div class="card" @onclick="() => GoToBlogDetails(blog.Id)">
    <div class="card-body">
        <h3 class="card-title">@blog.Title</h3>
        <h6 class="card-subtitle mb-2 text-muted">@blog.AuthorName</h6>
        @if (!string.IsNullOrEmpty(blog.ImageLink))
        {
            <img src="@blog.ImageLink" height="200px" class="card-img-top" alt="Blog Image">
        }
        @* <p class="card-text">@((MarkupString)blog.Content)</p> *@
    </div>
</div>


@code {
    [Parameter]
    public BlogResponse blog {get;set;}

    private void GoToBlogDetails(Guid id)
    {
        NavManager.NavigateTo($"/blogDetails/{id}");
    }
}
