@using Restaurant.Client.Contracts.Dishes
<div @onclick="OnClick.Invoke" class="dish-card">
    <img src="@Dish.PhotoLink" alt="Страва 1">
    <p style="font-size: 20px;">@Dish.Name</p>
    <p style="font-size: 16px;">
        Ціна: <span style="color: yellow;">@Dish.ResultingPrice ₴</span>
        @if (Dish.OriginalPrice > Dish.ResultingPrice)
        {
            <span style="color: gray; text-decoration: line-through;"> @Dish.OriginalPrice ₴</span>
            <span class="promotion-label">Знижка</span>
        }
    </p>
    <!-- Додаткові дані та кнопки можна додати тут -->
</div>

@code {
    [Parameter]
    public DishPaginationResponse Dish { get; set; }
    [Parameter]
    public Action OnClick { get; set; }
}
