

.small-image{
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 2px;
}
    .small-image:hover {
        border: 2px solid #ffc93c;
    }

.param-row{
    font-size: 15px;
    line-height: 17px;
}


.main-image{
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

.small-images-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    height: 500px;
    margin-right: 20px;
    padding: 5px;
}

.dish-maindata-container {
    display: flex;
    align-items: center;
}

.images-block {
    margin: 10px;
    display: flex;
    align-items: center; /* Вирівнює по вертикалі */
}

.data-block {
    margin: 10px;
    display: block;
    align-items: center;
    position: relative;
    
}

.add-to-cart-selector {
    display: flex;
    align-items:center;
}

.available-label {
    color: #fff; /* Білий колір тексту підказки */
    margin: 10px; /* Внутрішні відступи підказки */
    padding: 3px 6px;
    font-size: 15px;
    /*position: absolute;*/
    border-radius: 5px; /* Закруглені кути підказки */
    /*top: 0; Розміщення зверху */
    /*left: 0; Розміщення зліва */
}

.reviewsdata-block {
    display: flex;
    align-items: center;
}
    .reviewsdata-block > * {
        margin: 0px 10px;
    }

.ingredients-block {
    display: initial;
    align-items: initial;
    position: initial;
}

.ingredient {
    display: inline-block; /* зміна display */
    border: 1px solid #ccc;
    padding: 0px 6px;
    line-height: 25px;
    border-radius: 50px;
    font-size: 13px;
    height: auto; /* автоматична висота */
    margin: 5px; /* додаткові відступи, які ви можете встановити за необхідності */
}

.item-input {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

