@using Restaurant.Client.Contracts.Carts

<div class="item-row">
    <img src="@Dish.PhotoLink" alt="Image" class="item-image">
    <span class="available-label">Знижка</span>
    <div class="item-details">
        <h3 class="item-name">@Dish.Name</h3>        
    </div>
    <div class="item-buttons">
        <div class="inc-dec-buttons">
            <button class="increment-button" @onclick="Substract">-</button>
        <input min="1" max="100" type="number" class="item-input" value="@Dish.count" readonly>      
            <button class="decrement-button" @onclick="Add">+</button>
        </div>
        <button class="remove-button" @onclick="Remove">Скасувати</button>
    </div>
</div>

@code {
    [Parameter]
    public DishOfCart Dish { get; set; }
    [Parameter]
    public Action OnButtonClick { get; set; }


    private void Add()
    {
        if (Dish.count < 100)
        {
            Dish.count++;
            OnButtonClick.Invoke();
        }
    }
    private void Substract()
    {
        if (Dish.count > 1)
        {
            Dish.count--;
            OnButtonClick.Invoke();
        }
    }

    private void Remove()
    {
        Dish.count = -1;
        OnButtonClick.Invoke();
        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }
}
