@using Restaurant.Client.Contracts.Dishes
<div class="dish-card">
    <img src="@Dish.PhotoLink" alt="Страва 1">
    <p style="font-size: 20px;">@Dish.Name</p>
    <p style="font-size: 16px;">
        Ціна: <span style="color: yellow;">@Dish.OriginalPrice</span>
        @if (Dish.OriginalPrice != Dish.ResultingPrice)
        {
            <del style="color: gray;">$12</del>

            <span class="promotion-label">Знижка</span>
        }
    </p>
    <!-- Додаткові дані та кнопки можна додати тут -->
</div>

@code {
    [Parameter]
    public DishPaginationResponse Dish { get; set; }
}
