@using Restaurant.Client.Contracts.Dishes
<div @onclick="OnClick.Invoke" class="dish-card">
    <img src="@Dish.PhotoLink" alt="Страва 1">
    <AuthorizeView Roles="User">
        <Authorized>
            <button class="add-to-cart-button" @onclick="OnClickCart.Invoke">
                <svg width="35" height="33" viewBox="0 0 35 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.8266 16.8983V25.9993C18.8266 26.3441 18.6987 26.6748 18.4711 26.9186C18.2435 27.1625 17.9347 27.2994 17.6128 27.2994C17.2909 27.2994 16.9822 27.1625 16.7545 26.9186C16.5269 26.6748 16.399 26.3441 16.399 25.9993V16.8983C16.399 16.5535 16.5269 16.2228 16.7545 15.979C16.9822 15.7352 17.2909 15.5982 17.6128 15.5982C17.9347 15.5982 18.2435 15.7352 18.4711 15.979C18.6987 16.2228 18.8266 16.5535 18.8266 16.8983ZM34.5846 13.3408L32.4817 30.2443C32.4037 30.869 32.1166 31.4421 31.6737 31.857C31.2308 32.2719 30.6622 32.5004 30.0738 32.5H5.15181C4.56341 32.5004 3.99488 32.2719 3.55197 31.857C3.10907 31.4421 2.82193 30.869 2.74397 30.2443L0.639568 13.3424C0.59371 12.975 0.621736 12.6013 0.721766 12.2464C0.821797 11.8915 0.991519 11.5636 1.21955 11.2847C1.44758 11.0058 1.72865 10.7824 2.0439 10.6294C2.35916 10.4764 2.70131 10.3974 3.04741 10.3976H8.56558L16.7025 0.440178C16.8164 0.301834 16.9565 0.191036 17.1134 0.115143C17.2704 0.03925 17.4406 0 17.6128 0C17.785 0 17.9553 0.03925 18.1122 0.115143C18.2692 0.191036 18.4093 0.301834 18.5232 0.440178L26.6601 10.3976H32.1782C32.5239 10.3979 32.8656 10.4772 33.1804 10.6303C33.4951 10.7834 33.7757 11.0067 34.0034 11.2854C34.2311 11.564 34.4006 11.8915 34.5005 12.246C34.6005 12.6005 34.6286 12.9738 34.583 13.3408H34.5846ZM11.7912 10.3976H23.4344L17.6128 3.27123L11.7912 10.3976ZM32.1782 12.9979H3.04741L5.15181 29.8997H30.0738L32.1782 12.9979ZM24.4161 16.7683L23.5664 25.8693C23.5496 26.0397 23.5645 26.2119 23.61 26.3762C23.6556 26.5404 23.731 26.6934 23.832 26.8263C23.933 26.9592 24.0574 27.0694 24.1983 27.1506C24.3392 27.2318 24.4936 27.2824 24.6528 27.2994C24.6937 27.3018 24.7347 27.3018 24.7757 27.2994C25.0763 27.299 25.3661 27.1791 25.589 26.963C25.8118 26.7468 25.9518 26.4497 25.9819 26.1293L26.8315 17.0283C26.8637 16.6852 26.7673 16.3425 26.5636 16.0755C26.3599 15.8085 26.0655 15.6392 25.7452 15.6047C25.4249 15.5702 25.1049 15.6734 24.8556 15.8916C24.6064 16.1099 24.4483 16.4252 24.4161 16.7683ZM10.8096 16.7683C10.7774 16.4252 10.6193 16.1099 10.37 15.8916C10.1208 15.6734 9.80077 15.5702 9.48047 15.6047C9.16016 15.6392 8.86576 15.8085 8.66204 16.0755C8.45831 16.3425 8.36194 16.6852 8.39413 17.0283L9.24378 26.1293C9.27397 26.4511 9.41506 26.7493 9.6395 26.9657C9.86394 27.1821 10.1556 27.3011 10.4576 27.2994C10.4985 27.3018 10.5395 27.3018 10.5805 27.2994C10.7391 27.2824 10.893 27.232 11.0334 27.1512C11.1738 27.0704 11.298 26.9608 11.3989 26.8286C11.4998 26.6964 11.5754 26.5442 11.6213 26.3807C11.6673 26.2173 11.6827 26.0457 11.6668 25.8758L10.8096 16.7683Z" fill="#1E1E1E" />
                </svg>
            </button>
        </Authorized>
    </AuthorizeView>    
    <p style="font-size: 20px;">@Dish.Name</p>
    <p style="font-size: 16px;">
        Ціна: <span style="color: yellow;">@Dish.ResultingPrice ₴</span>
        @if (Dish.OriginalPrice > Dish.ResultingPrice)
        {
            <span style="color: gray; text-decoration: line-through;"> @Dish.OriginalPrice ₴</span>
            <span class="promotion-label">Знижка</span>
        }
    </p>
    <!-- Додаткові дані та кнопки можна додати тут -->
</div>

@code {
    [Parameter]
    public DishPaginationResponse Dish { get; set; }
    [Parameter]
    public Action OnClickCart { get; set; }
    [Parameter]
    public Action OnClick { get; set; }
}
