.dish-card {
    width: 300px; /* Ширина карточки */
    height: 400px;
    border: 1px solid #ccc; /* Обведення карточки */
    border-radius: 8px; /* Закруглені кути */
    padding: 10px; /* Відступи всередині карточки */
    margin: 10px; /* Зовнішні відступи між карточками */
    position: relative; /* Для позиціонування значка акції */
}

    .dish-card img {
        width: 100%; /* Зображення розтягується на всю ширину карточки */
        border-radius: 8px; /* Закруглені кути зображення */
    }

.promotion-label {
    background-color: #ff0000; /* Червоний колір для фону підказки */
    color: #fff; /* Білий колір тексту підказки */
    margin: 10px; /* Внутрішні відступи підказки */
    padding: 3px 6px;
    border-radius: 5px; /* Закруглені кути підказки */
    position: absolute; /* Абсолютне позиціонування відносно карточки */
    top: 0; /* Розміщення зверху */
    left: 0; /* Розміщення зліва */
}

.dish-card h2 {
    margin-top: 0; /* Відступ від верхнього краю карточки */
}

.dish-card p {
    margin: 5px 0; /* Відступи відступи між рядками */
}
