.dish-card {
    width: 300px;
    /*height: 400px;*/
    border: 1px solid #878477;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    position: relative;
    box-shadow: inset black 0px 0px 10px 1px;
    cursor: pointer !important;
    transition: all 0.5s;
}

.dish-card:hover,.dish-card:active {
    transform: scale(1.01);
    img{
        transform: scale(0.95);
    }
    button {
        background: #77756a;
    }
}

.dish-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: all 0.5s;
}

.add-to-cart-button {
    position: absolute;
    top: -1px;
    right: -1px;
    /* margin: 10px; */
    padding: 10px 10px;
    border: 0;
    border-radius: 0 8px 0 0;
    background: #878477;
    transition: all 0.5s;
    svg{
           transition: all 0.3s;
       }
}

.add-to-cart-button:hover {
    border-radius: 0 8px 0 8px;
    transform: scale(0.98);
    background: #A7A293 !important;
    svg{
           transform: scale(0.95);
       }
}

.promotion-label {
    background-color: #ff0000; /* Червоний колір для фону підказки */
    color: #fff; /* Білий колір тексту підказки */
    margin: 10px; /* Внутрішні відступи підказки */
    padding: 3px 6px;
    border-radius: 5px; /* Закруглені кути підказки */
    position: absolute; /* Абсолютне позиціонування відносно карточки */
    top: 0; /* Розміщення зверху */
    left: 0; /* Розміщення зліва */
}

.dish-card h2 {
    margin-top: 0; /* Відступ від верхнього краю карточки */
}

.dish-card p {
    margin: 5px 0;
    color: #A7A293;
}

@media screen and (max-width: 1500px){
    .dish-card{
        width: 30%;

    }
    .dish-card p {
        font-size: 1.5vw !important;
    }
    .dish-card p:last-child, .dish-card span{
        font-size: 1.25vw !important;
    }
    ::deep .mud-icon-root{
        width: 2.3vw !important;
        height: 2.3vw !important;
    }
    .add-to-cart-button{
        padding: 3.5%;
    }
    .add-to-cart-button svg{
        width: 3vw;
        height: 3vw;
    }
}
@media screen and (max-width: 1200px){
    .dish-card p {
        font-size: 1.75vw !important;
    }

    .dish-card p:last-child, .dish-card span {
        font-size: 1.5vw !important;
    }
}
@media screen and (max-width: 900px){
    .dish-card p {
        font-size: 2.25vw !important;
    }

        .dish-card p:last-child, .dish-card span {
            font-size: 2vw !important;
        }
}
@media screen and (max-width: 800px){
    .dish-card {
        width: 40%;
    }
}