.body{
    margin-top: 200px;
}

.small-image{
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 2px;
}
.main-image{
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.small-images-container {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100px;
    height: 400px;
    margin-right: 20px;
    padding: 5px;
}

.dish-maindata-container {
    display: flex;
    align-items: center;
}

.images-block {
    margin: 10px;
    display: flex;
    align-items: center; /* Вирівнює по вертикалі */
}

.data-block {
    margin: 10px;
    height: 400px;
    display: block;
    align-items: center;
    position: relative;
    
}

.add-to-cart-selector {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.available-label {
    color: #fff; /* Білий колір тексту підказки */
    margin: 10px; /* Внутрішні відступи підказки */
    padding: 3px 6px;
    font-size: 15px;
    /*position: absolute;*/
    border-radius: 5px; /* Закруглені кути підказки */
    /*top: 0; Розміщення зверху */
    /*left: 0; Розміщення зліва */
}
