all: initial; * {
    all: unset;
}

/* Контейнер для вікна зі стравами */
.menu-container {
    width: 70%;
    padding: 20px;
    display: flex; /* Використовуємо flexbox */
    flex-wrap: wrap; /* Розбиваємо на рядки, якщо не вміщається */
    justify-content: space-around; /* Рівномірне розподілення між карточками */
}

/* Контейнер для вікна з фільтрами */
.filters-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Стилі для карток страв */
.dish-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Стилі для фільтрів */
.filter {
    margin: 0 1% 1em;
    position: relative;
}

::deep .filter input {
    width: 200px;
    background: #56524c;
    border-radius: 5px;
    color: white;
    border: 1px solid #fff8e0;
    transition: all 1s;
    position: relative;
    z-index: 1;
    font-weight: normal;
}

    ::deep .filter input:hover {
        border-color: #878477;
    }

    ::deep .filter input:focus, ::deep .filter input:focus-visible {
        border-color: #878477;
        outline: none;
        background: none;
    }

    ::deep .filter input::placeholder {
        color: #FFF8E0;
    }

    ::deep .filter input::-webkit-inner-spin-button {
        transition: all 0.3s;
    }

    ::deep .filter input::-webkit-outer-spin-button {
        transition: all 0.3s;
    }

    .filter > .on-checked {
        width: 200px;
        height: 1px;
        position: absolute;
        right: 0;
        background: #242121;
        border-radius: 6px;
        transition: all 0.3s;
        bottom: 0;
        opacity: 0;
        z-index: 0;
    }

    .filters-container > .filter > input:focus ~ .on-checked,
    .filters-container > .filter > input:focus-visible ~ .on-checked
    {
        height: 100%;
        opacity: 1;
    }



    .filter.radio {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    ::deep .filter.radio input{
        width: auto;
        outline: none;
    }

    .filter.radio label {
        margin: 0 0.5em;
        position: relative;
        border: 1px solid;
        border-radius: 5px;
        border-color: #FFF8E0;
        min-width: 150px;
        padding: 0 5px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        z-index: 1;
    }

    .filter.radio label .on-checked::after {
        content: " ";
        position: absolute;
        bottom: 0;
        border-radius: 3px;
        left: 0;
        width: 100%;
        height: 0px;
        opacity: 0;
        background: #878477;
        transition: all 0.3s;
        z-index: 0;
    }

        .filter.radio label[for="cuisine"], .filter.radio label[for="category"], .filter.radio label[for="order"] {
            width: auto;
            border: 0;
        }

    .filter.radio > label > .on-checked {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .filter.radio label:hover {
        border-color: #878477;
    }

    .filter.radio label:hover .on-checked::after{
        opacity: 0.5;
        height: 100%;
    }

    .filters-container > .filter.radio > label > .hidden:checked ~ .on-checked::after {
        opacity: 0.3;
        height: 100%;
    }

.filter label {
    font-weight: bold;
}

    .filter select {
        width: 100%;
        padding: 5px;
    }

/* Кнопка для застосування фільтрів */
.apply-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

    .pagination-buttons button {
        padding: 6px 12px; /* зменшивши padding */
        font-size: 12px; /* зменшивши font-size */
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .pagination-buttons button:hover {
            background-color: #0056b3;
        }

        .pagination-buttons button:disabled {
            background-color: #6c757d;
            cursor: not-allowed;
        }

::deep .filter input, .filter label{
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
}
