all: initial; * {
    all: unset;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Контейнер для вікна зі стравами */
.menu-container {
    width: 70%;
    padding: 20px;
    display: flex; /* Використовуємо flexbox */
    flex-wrap: wrap; /* Розбиваємо на рядки, якщо не вміщається */
    justify-content: space-between; /* Рівномірне розподілення між карточками */
}

/* Контейнер для вікна з фільтрами */
.filters-container {
    width: 30%;
    padding: 20px;
}

/* Стилі для карток страв */
.dish-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Стилі для фільтрів */
.filter {
    margin-bottom: 10px;
}

    .filter label {
        font-weight: bold;
    }

    .filter select {
        width: 100%;
        padding: 5px;
    }

/* Кнопка для застосування фільтрів */
.apply-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

    .pagination-buttons button {
        padding: 6px 12px; /* зменшивши padding */
        font-size: 12px; /* зменшивши font-size */
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .pagination-buttons button:hover {
            background-color: #0056b3;
        }

        .pagination-buttons button:disabled {
            background-color: #6c757d;
            cursor: not-allowed;
        }

