<footer id="fade-in-footer">
	<div class="Container-wrap left RepeatLeftToRight LeftToRight">
		<p>Best taste</p>
	</div>
	<div class="Container-content footer-content flex-col">
		<div class="col RepeatTopToBot TopToBot">
			<h5>Посилання</h5>
			<ul>
				<li>Меню</li>
				<li>Блоги</li>
				<li></li>
			</ul>
		</div>
		<div class="col RepeatScaledPlus ScaledPlus">
			<h5>Наші соцмережі</h5>
			<ul>
				<li>Facebook</li>
				<li>Instagram</li>
				<li>Twitter</li>
			</ul>
		</div>
		<div class="col RepeatBotToTop BotToTop">
			<h5>Контакти</h5>
			<ul>				
				<li>Україна, м.Вінниця, вул. Оперна 45</li>
				<li>+380 44 123 4567</li>
				<li>info@restaurant.ua</li>
			</ul>
		</div>
	</div>
	<div class="Container-wrap right RepeatRightToLeft RightToLeft">
		<p>© Всі права захищено</p>
	</div>
</footer>

@code {
	protected override async void OnAfterRender(bool firstRender)
	{
		try
		{
			await JS.InvokeVoidAsync("fadeInElement", "fade-in-footer", "50px");
			await JS.InvokeVoidAsync("AddClassInView", "RepeatTopToBot", "NormalTranslate", 0.5, true);
			await JS.InvokeVoidAsync("AddClassInView", "RepeatBotToTop", "NormalTranslate", 0.5, true);
			await JS.InvokeVoidAsync("AddClassInView", "RepeatLeftToRight", "NormalTranslate", 0.5, true);
			await JS.InvokeVoidAsync("AddClassInView", "RepeatRightToLeft", "NormalTranslate", 0.5, true);
			await JS.InvokeVoidAsync("AddClassInView", "RepeatScaledPlus", "NormalScale", 0.7, true);

		}catch{}
	}
}
