@inherits LayoutComponentBase

<PageTitle>Aroma&Taste</PageTitle>

<div class="page">
    <div class="navbar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            <div class="Main-Content">
                @Body
            </div>           
            <Footer/>
        </article>
    </main>
</div>
