
.navbar.navbar-wrap {
    width: 100vw;
    height: 130px;
    top: 0;
    filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.5));
    background: rgba(255, 248, 224, 0.15);
    padding: 0 5em;
}

.navbar-content h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF8E0;
    transition: color 0.3s ease;
    position: relative;
    margin: 0;
}

    .navbar-content h1::before, .navbar-content h1::after {
        position: absolute;
        content: " ";
        margin: auto 0;
        width: 0px;
        height: 2px;
        left: 50%;
        transition: all 0.3s;
        background: #878477;
    }

    .navbar-content h1::before{
        top: 0;
    }

    .navbar-content h1::after{
        bottom: 0;
    }

    .navbar-content h1:hover {
        color: rgba(255, 248, 224, 0.5);
    }

    .navbar-content h1:hover::before, .navbar-content h1:hover::after{
        left: 0;
        width: 100%;
    }

::deep .navigation a {
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    margin: 0 0.5em;
    transition: color 0.5s ease;
    position: relative;
}

    ::deep .navigation a::before {
        position: absolute;
        content: " ";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background: #A7A293;
        transition: all 0.3s;
    }

    ::deep .navigation a:hover {
        color: #FFF8E0;
    }

   ::deep .navigation a:hover::before{
        width: 100%;
    }

.navbar.right-part div, .navbar.right-part a, .navbar.right-part label {
    margin-left: 1em;
    transition: opacity 0.5s ease;
}
::deep .navbar.right-part a {
    padding-right: 5px;
    transition: all 0.5s;
}
::deep .navbar.right-part a path{
    transition: all 0.5s;
}
::deep .navbar.right-part a:hover {
    transform:scale(0.95);
}
::deep .navbar.right-part a:hover path{
    fill: #FFF8E0;
}

::deep .login.button, .logout.button{
    background: none;
    border: none;
    transition: all 0.5s;
    padding-right: 10px;
}
    ::deep .login.button path, .logout.button path{
        transition: all 0.5s;
    }

::deep .login.button:hover, .logout.button:hover{
    transform:scale(0.95);
}
    ::deep .login.button:hover path, .logout.button:hover path {
        fill: #FFF8E0;
    }

.mobile-right {
    display: flex;
    align-items: center;
    min-width: 150px;
    justify-content: space-evenly;
}
.mobile-right .right-part{
    padding-right: 20px;
}
.mobile-nav {
    display: none;
}
.mobile-nav .btn{
    padding: 0;
    z-index:2;
}
.mobile-nav .btn #svg1{
    display:block !important;
    opacity:1;
    transition: all 0.5s;
}
.mobile-nav .btn #svg2{
    display:block !important;
    top: 0px;
    left: 0px;
    opacity:0;
    transform: rotate(90deg);
    transition: all 0.5s;
}
.mobile-nav.active .btn #svg1{
    transform:rotate(-25deg);
    opacity: 0;
}
.mobile-nav.active .btn #svg2{
    transform: rotate(0deg);
    opacity: 1;
}
.mobile-nav .mobile-navmenu {
    display: flex !important;
    position: absolute;
    justify-content: flex-start;
    top:-60px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 0px;
    opacity: 0;    
    transition: all 0.5s;       
}
.mobile-nav.active .mobile-navmenu{
    padding-top: 90px;
    height: 50px;
    background: #7c786f;
    transition: all 0.5s;
    opacity: 1;
}
.mobile-navmenu ul, .mobile-navmenu li {
    padding: 0;
    text-align: center;
}
.mobile-navmenu ul li {
    transition: all 0.5s;
    position: relative;
    opacity: 0;
    width: 100%;
    min-height: 25px;
    a{
         display:none;
     }
}
.mobile-nav.active .mobile-navmenu ul li{
    position: static;
    opacity: 1;
    background: #7c786f;
    a{
         display:inline;
     }
}
.mobile-nav .mobile-navmenu ul li:last-child{
    border-radius: 0 0 5px 5px;
}
.mobile-navmenu li a{
    white-space: nowrap;
}
@media screen and (max-width: 1100px) {
    .navbar.navbar-wrap{
        padding: 0 2.5em;
    }
}
@media screen and (max-width: 1000px){
    .navigation{
        display: none;
    }
    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position:relative;
    }
}
@media screen and (max-width: 800px){
    .navbar.navbar-wrap{
        height: 100px;
    }
}
@media screen and (max-width: 450px){
    .navbar-wrap .navbar-content:first-child {
        margin: 0 auto;
    }

    .navbar-content h1 {
        margin: 0;
        font-size: 25px;
    }

    .mobile-right {
        margin: -10px 15px 0 auto;
    }

        .mobile-right .navbar-content {
            margin: 0 !important;
        }
}
@media screen and (max-width: 400px) {
    
}