
.navbar.navbar-wrap {
    width: 100vw;
    height: 130px;
    top: 0;
    filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.5));
    background: rgba(255, 248, 224, 0.15);
    padding: 0 5em;
}

.navbar-content h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF8E0;
    transition: color 0.3s ease;
    position: relative;
}

    .navbar-content h1::before, .navbar-content h1::after {
        position: absolute;
        content: " ";
        margin: auto 0;
        width: 0px;
        height: 2px;
        left: 50%;
        transition: all 0.3s;
        background: #878477;
    }

    .navbar-content h1::before{
        top: 0;
    }

    .navbar-content h1::after{
        bottom: 0;
    }

    .navbar-content h1:hover {
        color: rgba(255, 248, 224, 0.5);
    }

    .navbar-content h1:hover::before, .navbar-content h1:hover::after{
        left: 0;
        width: 100%;
    }

.navigation a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    margin: 0 0.5em;
    transition: color 0.5s ease;
    position: relative;
}

    .navigation a::before {
        position: absolute;
        content: " ";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background: #A7A293;
        transition: all 0.3s;
    }

    .navigation a:hover {
        color: #FFF8E0;
    }

    .navigation a:hover::before{
        width: 100%;
    }

.navbar.right-part div, .navbar.right-part a, .navbar.right-part label {
    margin-left: 1em;
    transition: opacity 0.5s ease;
}

.navbar.right-part a:hover{
    opacity: 0.7;
}


.mobile-nav{
    display:none;
}
.mobile-nav .btn{
    transition: all 0.5s;
    padding: 0;
}
.mobile-nav .btn #svg1{
    opacity:1;
}
.mobile-nav .btn #svg2{
    opacity:0;
}
.mobile-nav.active .btn{
     transform: rotate(-90deg);     
 }
.mobile-nav.active .btn #svg1{
    opacity: 0;
}
.mobile-nav.active .btn #svg2{
    transform: rotate(-90deg);
    opacity: 1;
}
.mobile-nav .mobile-navmenu {
    display: flex !important;
    position: absolute;
    justify-content: flex-start;
    top:-60px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 0px;
    opacity: 0;
    transition: all 0.5s;
    z-index:-1;
}
.mobile-nav.active .mobile-navmenu{
    padding-top: 90px;
    height: 270px;
    background: #7c786f;
    transition: all 0.5s;
    opacity: 1;
}
.mobile-nav.active .mobile-navmenu ul li{
    opacity: 1;
}
.mobile-navmenu ul, li{
    padding: 0;
    text-align:center;    
}
.mobile-navmenu ul li{
    transition: all 0.5s;
    opacity: 0;
}
.mobile-navmenu li a{
    white-space: nowrap;
}
@media screen and (max-width: 1100px) {
    .navbar.navbar-wrap{
        padding: 0 2.5em;
    }
}
@media screen and (max-width: 1000px){
    .navigation{
        display: none;
    }
    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position:relative;
    }
}