@if (IsMinContent)
{
    <div class="Title Anim-Title">
        <div class="Title content min-content">
            <h1 class="Anim-Title-text">@ChildContent</h1>
        </div>
    </div>
}
else
{
    <div class="Title Anim-Title">
        <div class="Title content">
            <h1 class="Anim-Title-text">@ChildContent</h1>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsMinContent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Min
    {
        get => IsMinContent;
        set => IsMinContent = value;
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        try
        {
            await JS.InvokeVoidAsync("AddClassInView", "Anim-Title", "Animated-Title", 0.5);
            await JS.InvokeVoidAsync("AddClassInView", "Anim-Title-text", "Animated-Title-Text", 0.5);
        }catch{}
    
    }
}
