@if (IsMinContent)
{
    <div class="Title">
        <div class="Title content min-content">
            <h1>@ChildContent</h1>
        </div>
    </div>
}
else
{
    <div class="Title">
        <div class="Title content">
            <h1>@ChildContent</h1>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsMinContent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Min
    {
        get => IsMinContent;
        set => IsMinContent = value;
    }
}
