@page "/faq"
<Title>FAQ</Title>
<div class="faq-wrap">
	<div class="faq" onclick="viewanswer(1)">
		<div class="question">
			<h1>
				Чи можна забронювати столик заздалегідь?
			</h1>
			<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="#fff8e0" viewBox="0 0 256 256"><path d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"></path></svg>
		</div>
		<div class="answer">
			<p>
				Так, ви можете забронювати столик заздалегідь онлайн через наш веб-сайт або зателефонувавши нам за номером +380 44 123 4567.
			</p>
		</div>
	</div>
	<div class="faq" onclick="viewanswer(2)">
		<div class="question">
			<h1>
				Чи потрібно робити попереднє замовлення столика?
			</h1>
			<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="#fff8e0" viewBox="0 0 256 256"><path d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"></path></svg>
		</div>
		<div class="answer">
			<p>
				Попереднє замовлення столика рекомендується, особливо на вихідні та святкові дні, щоб забезпечити наявність місць. 
				Ви можете зробити бронювання онлайн через наш сайт або зателефонувати нам за номером +380 44 123 4567.
			</p>
		</div>
	</div>
	<div class="faq" onclick="viewanswer(3)">
		<div class="question">
			<h1>
				Чи є у вас доставка або можливість замовити їжу на виніс?
			</h1>
			<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="#fff8e0" viewBox="0 0 256 256"><path d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"></path></svg>
		</div>
		<div class="answer">
			<p>
				Так, ви можете замовити їжу на виніс через наш сайт або за телефоном. 
				Ми також пропонуємо послугу доставки у межах міста, щоб ви могли насолоджуватися нашими стравами вдома.
			</p>
		</div>
	</div>
	<div class="faq" onclick="viewanswer(4)">
		<div class="question">
			<h1>
				Чи можна організувати у вас приватну вечірку або корпоративний захід?
			</h1>
			<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="#fff8e0" viewBox="0 0 256 256"><path d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"></path></svg>
		</div>
		<div class="answer">
			<p>
				Так, ми маємо можливість організувати приватні вечірки та корпоративні заходи. 
				Будь ласка, зв'яжіться з нашим менеджером для обговорення деталей та узгодження меню.
			</p>
		</div>
	</div>
	<div class="faq" onclick="viewanswer(5)">
		<div class="question">
			<h1>
				Чи можу я дізнатись інгредієнти страви? Якщо в мене є алергія на певні продукти?
			</h1>
			<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="#fff8e0" viewBox="0 0 256 256"><path d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"></path></svg>
		</div>
		<div class="answer">
			<p>
				Так, у кожної страви є список інгредієнтів, що відображається на її сторінці, переглянувши його Ви зможете пересвідчитись  в тому, чи хочете замовити дану страву.
			</p>
		</div>
	</div>
	<div class="faq" onclick="viewanswer(6)">
		<div class="question">
			<h1>
				Чи є у вас спеціальні пропозиції або знижки?
			</h1>
			<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="#fff8e0" viewBox="0 0 256 256"><path d="M237.66,106.35l-80-80A8,8,0,0,0,144,32V72.35c-25.94,2.22-54.59,14.92-78.16,34.91-28.38,24.08-46.05,55.11-49.76,87.37a12,12,0,0,0,20.68,9.58h0c11-11.71,50.14-48.74,107.24-52V192a8,8,0,0,0,13.66,5.65l80-80A8,8,0,0,0,237.66,106.35ZM160,172.69V144a8,8,0,0,0-8-8c-28.08,0-55.43,7.33-81.29,21.8a196.17,196.17,0,0,0-36.57,26.52c5.8-23.84,20.42-46.51,42.05-64.86C99.41,99.77,127.75,88,152,88a8,8,0,0,0,8-8V51.32L220.69,112Z"></path></svg>
		</div>
		<div class="answer">
			<p>
				Так, ми регулярно проводимо акції та спеціальні пропозиції для наших гостей. 
				Підписуйтесь на нашу розсилку або слідкуйте за новинами на нашому сайті на сторінці <a href="/blogslist">Блоги</a> та в соцмережах для отримання найсвіжіших пропозицій.
			</p>
		</div>
	</div>
</div>

<script>
	function viewanswer(index) {
		const faqElements = document.querySelectorAll('.faq');
		const answerElements = document.querySelectorAll('.answer');
		const svgs = document.querySelectorAll('svg');

		const selectedFaq = faqElements[index - 1];
		const selectedAnswer = selectedFaq.querySelector('.answer');
		const selectedsvg = selectedFaq.querySelector('svg');

		if (selectedAnswer.classList.contains('active')) {
			selectedAnswer.classList.remove('active');
		} else {
			answerElements.forEach(answer => answer.classList.remove('active'));
			selectedAnswer.classList.add('active');
		}
		if (selectedsvg.classList.contains('active')) {
			selectedsvg.classList.remove('active');
		} else {
			svgs.forEach(svg => svg.classList.remove('active'));
			selectedsvg.classList.add('active');
		}
	}
</script>

@code {

}
