@page "/"
@inject IStringLocalizer<Resource> Localizer

<PageTitle>Index</PageTitle>
<body id="index">
<div class="Header">
	<div class="Content">
		<h1 id="header-content-h1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
		<h2 id="header-content-h2">tempor incididunt ut labore et dolore magna aliqua.</h2>
		<button>
			@Localizer["ReserveATable"]
		</button>
	</div>
	<div class="Bg">
		<div class="Content">
			<img src="/images/header-bg.png"/>
		</div>
	</div>
</div>
<div class="Main-Content">
	<div class="Title">
		<div class="Title content">
				<h1>How we works</h1>
				<svg width="65" height="35" viewBox="0 0 65 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M63.3081 4.98134L34.1447 34.1447C33.8738 34.4159 33.5522 34.631 33.1981 34.7778C32.8441 34.9245 32.4646 35.0001 32.0814 35.0001C31.6981 35.0001 31.3186 34.9245 30.9646 34.7778C30.6105 34.631 30.2889 34.4159 30.0181 34.1447L0.854651 4.98134C0.307427 4.43411 0 3.69191 0 2.91802C0 2.14413 0.307427 1.40193 0.854651 0.854711C1.40188 0.307487 2.14407 6.10352e-05 2.91796 6.10352e-05C3.69185 6.10352e-05 4.43405 0.307487 4.98127 0.854711L32.0814 27.9585L59.1815 0.854711C59.4524 0.583753 59.7741 0.368818 60.1281 0.222176C60.4821 0.075535 60.8616 6.10352e-05 61.2448 6.10352e-05C61.628 6.10352e-05 62.0074 0.075535 62.3614 0.222176C62.7155 0.368818 63.0371 0.583753 63.3081 0.854711C63.579 1.12567 63.794 1.44734 63.9406 1.80137C64.0873 2.15539 64.1627 2.53483 64.1627 2.91802C64.1627 3.30122 64.0873 3.68066 63.9406 4.03468C63.794 4.3887 63.579 4.71038 63.3081 4.98134Z" fill="#FFF8E0" />
				</svg>


		</div>
	</div>
	<div class="Content-wrap">
		<div class="wrap-col">
			<div class="wrap-col-content start-col">
					<img src="/images/Step1.png" />
					<h1>Step 1</h1>
					<h2>Choose a cuisine</h2>
					<p>Enter your preferred cuisine. Explore the flavors and stories behind each dish.</p>
			</div>
		</div>
		<div class="wrap-col mid-col">
			<div class="wrap-col-content">
					<img src="/images/Step1.png" />
					<h1>Step 2</h1>
					<h2>Explore the dishes</h2>
					<p>Choose your desired dishes and they will soon be served to you.</p>
			</div>
		</div>
		<div class="wrap-col">
			<div class="wrap-col-content end-col">
					<img src="/images/Step1.png" />
					<h1>Step 3</h1>
					<h2>Engage with the Community</h2>
					<p>Share your reviews and connect with fellow food enthusiasts.</p>
			</div>
		</div>
	</div>
		<div class="Title">
			<div class="Title content">
				<h1>Explore our menu</h1>
				<svg width="65" height="35" viewBox="0 0 65 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M63.3081 4.98134L34.1447 34.1447C33.8738 34.4159 33.5522 34.631 33.1981 34.7778C32.8441 34.9245 32.4646 35.0001 32.0814 35.0001C31.6981 35.0001 31.3186 34.9245 30.9646 34.7778C30.6105 34.631 30.2889 34.4159 30.0181 34.1447L0.854651 4.98134C0.307427 4.43411 0 3.69191 0 2.91802C0 2.14413 0.307427 1.40193 0.854651 0.854711C1.40188 0.307487 2.14407 6.10352e-05 2.91796 6.10352e-05C3.69185 6.10352e-05 4.43405 0.307487 4.98127 0.854711L32.0814 27.9585L59.1815 0.854711C59.4524 0.583753 59.7741 0.368818 60.1281 0.222176C60.4821 0.075535 60.8616 6.10352e-05 61.2448 6.10352e-05C61.628 6.10352e-05 62.0074 0.075535 62.3614 0.222176C62.7155 0.368818 63.0371 0.583753 63.3081 0.854711C63.579 1.12567 63.794 1.44734 63.9406 1.80137C64.0873 2.15539 64.1627 2.53483 64.1627 2.91802C64.1627 3.30122 64.0873 3.68066 63.9406 4.03468C63.794 4.3887 63.579 4.71038 63.3081 4.98134Z" fill="#FFF8E0" />
				</svg>

			</div>
		</div>
		<div class="Content-wrap flex-col">
		<div class="wrap-row">
			<div class="wrap-row-content pl15">
					<h2>Japanese cuisine</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
			<div class="wrap-row-content pr15">
				<img src="/images/Step1.png" />
			</div>
		</div>
		<div class="gradient-line"></div>
			<div class="wrap-row">
				<div class="wrap-row-content pl15">
					<img src="/images/Step1.png" />
				</div>
				<div class="wrap-row-content pr15">
					<h2>Japanese cuisine</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>				
			</div>
			<div class="gradient-line"></div>
			<div class="wrap-row">
				<div class="wrap-row-content pl15">
					<h2>Japanese cuisine</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
				<div class="wrap-row-content pr15">
					<img src="/images/Step1.png" />
				</div>
			</div>
			<div class="gradient-line"></div>
			<div class="wrap-row">
				<div class="wrap-row-content pl15">
					<img src="/images/Step1.png" />
				</div>
				<div class="wrap-row-content pr15">
					<h2>Japanese cuisine</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
			</div>
			<div class="gradient-line"></div>
			<div class="wrap-row">
				<div class="wrap-row-content">
					<div class="image-wrap">
						<img src="/images/Step1.png" class="img img1"/>
						<img src="/images/Step1.png" class="img img2" />
						<img src="/images/Step1.png" class="img img3" />
					</div>
					<button>
						View more cuisines
					</button>
				</div>
			</div>
	</div>
		<div class="Title">
			<div class="Title content">
				<h1>What our client are saying</h1>
				<svg width="65" height="35" viewBox="0 0 65 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M63.3081 4.98134L34.1447 34.1447C33.8738 34.4159 33.5522 34.631 33.1981 34.7778C32.8441 34.9245 32.4646 35.0001 32.0814 35.0001C31.6981 35.0001 31.3186 34.9245 30.9646 34.7778C30.6105 34.631 30.2889 34.4159 30.0181 34.1447L0.854651 4.98134C0.307427 4.43411 0 3.69191 0 2.91802C0 2.14413 0.307427 1.40193 0.854651 0.854711C1.40188 0.307487 2.14407 6.10352e-05 2.91796 6.10352e-05C3.69185 6.10352e-05 4.43405 0.307487 4.98127 0.854711L32.0814 27.9585L59.1815 0.854711C59.4524 0.583753 59.7741 0.368818 60.1281 0.222176C60.4821 0.075535 60.8616 6.10352e-05 61.2448 6.10352e-05C61.628 6.10352e-05 62.0074 0.075535 62.3614 0.222176C62.7155 0.368818 63.0371 0.583753 63.3081 0.854711C63.579 1.12567 63.794 1.44734 63.9406 1.80137C64.0873 2.15539 64.1627 2.53483 64.1627 2.91802C64.1627 3.30122 64.0873 3.68066 63.9406 4.03468C63.794 4.3887 63.579 4.71038 63.3081 4.98134Z" fill="#FFF8E0" />
				</svg>

			</div>
		</div>
		<div class="Content-wrap flex-col review-bar">
			<div class="Container">
				<div class="Container-wrap">
					<div class="wrap">
					<h2>Author</h2>
					</div>
					<div class="wrap">
						<svg width="47" height="45" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M46.516 16.937C46.3141 16.3148 45.9337 15.7658 45.4221 15.3582C44.9104 14.9507 44.2902 14.7027 43.6386 14.6451L31.2642 13.5783L26.4136 2.04358C26.1611 1.43833 25.7351 0.921335 25.1893 0.557688C24.6436 0.19404 24.0024 0 23.3466 0C22.6908 0 22.0496 0.19404 21.5038 0.557688C20.9581 0.921335 20.5321 1.43833 20.2796 2.04358L15.4436 13.5783L3.05458 14.6513C2.40041 14.7063 1.77703 14.9532 1.26261 15.361C0.748193 15.7689 0.36564 16.3195 0.162924 16.9439C-0.0397925 17.5683 -0.0536483 18.2387 0.123094 18.8709C0.299837 19.5031 0.65931 20.0691 1.15643 20.4979L10.5555 28.7113L7.73847 40.9086C7.58951 41.5469 7.63202 42.215 7.86067 42.8292C8.08932 43.4435 8.49397 43.9767 9.02403 44.3623C9.55409 44.7478 10.186 44.9686 10.8409 44.9969C11.4957 45.0252 12.1444 44.8599 12.7057 44.5216L23.332 38.0625L33.9812 44.5216C34.5426 44.8599 35.1912 45.0252 35.846 44.9969C36.5009 44.9686 37.1328 44.7478 37.6629 44.3623C38.1929 43.9767 38.5976 43.4435 38.8262 42.8292C39.0549 42.215 39.0974 41.5469 38.9484 40.9086L36.1335 28.6988L45.5305 20.4979C46.0275 20.0676 46.3863 19.5 46.5617 18.8665C46.737 18.2329 46.7211 17.5616 46.516 16.937ZM43.3448 17.9788L33.9478 26.1798C33.4905 26.5776 33.1503 27.0926 32.9638 27.6694C32.7773 28.2461 32.7516 28.8628 32.8894 29.4531L35.7126 41.6712L25.0718 35.2121C24.5526 34.896 23.9565 34.7287 23.3487 34.7287C22.7408 34.7287 22.1447 34.896 21.6255 35.2121L10.9993 41.6712L13.8038 29.4614C13.9416 28.8712 13.9159 28.2545 13.7294 27.6777C13.5429 27.1009 13.2027 26.586 12.7453 26.1881L3.3442 17.9913C3.34343 17.9851 3.34343 17.9788 3.3442 17.9726L15.729 16.9016C16.3337 16.8483 16.9123 16.6309 17.4025 16.2729C17.8927 15.9149 18.2758 15.4299 18.5106 14.8701L23.3466 3.34998L28.1805 14.8701C28.4153 15.4299 28.7984 15.9149 29.2886 16.2729C29.7788 16.6309 30.3574 16.8483 30.9621 16.9016L43.349 17.9726C43.349 17.9726 43.349 17.9851 43.349 17.9872L43.3448 17.9788Z" fill="#242121" />
						</svg>
						<svg width="47" height="45" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M46.516 16.937C46.3141 16.3148 45.9337 15.7658 45.4221 15.3582C44.9104 14.9507 44.2902 14.7027 43.6386 14.6451L31.2642 13.5783L26.4136 2.04358C26.1611 1.43833 25.7351 0.921335 25.1893 0.557688C24.6436 0.19404 24.0024 0 23.3466 0C22.6908 0 22.0496 0.19404 21.5038 0.557688C20.9581 0.921335 20.5321 1.43833 20.2796 2.04358L15.4436 13.5783L3.05458 14.6513C2.40041 14.7063 1.77703 14.9532 1.26261 15.361C0.748193 15.7689 0.36564 16.3195 0.162924 16.9439C-0.0397925 17.5683 -0.0536483 18.2387 0.123094 18.8709C0.299837 19.5031 0.65931 20.0691 1.15643 20.4979L10.5555 28.7113L7.73847 40.9086C7.58951 41.5469 7.63202 42.215 7.86067 42.8292C8.08932 43.4435 8.49397 43.9767 9.02403 44.3623C9.55409 44.7478 10.186 44.9686 10.8409 44.9969C11.4957 45.0252 12.1444 44.8599 12.7057 44.5216L23.332 38.0625L33.9812 44.5216C34.5426 44.8599 35.1912 45.0252 35.846 44.9969C36.5009 44.9686 37.1328 44.7478 37.6629 44.3623C38.1929 43.9767 38.5976 43.4435 38.8262 42.8292C39.0549 42.215 39.0974 41.5469 38.9484 40.9086L36.1335 28.6988L45.5305 20.4979C46.0275 20.0676 46.3863 19.5 46.5617 18.8665C46.737 18.2329 46.7211 17.5616 46.516 16.937ZM43.3448 17.9788L33.9478 26.1798C33.4905 26.5776 33.1503 27.0926 32.9638 27.6694C32.7773 28.2461 32.7516 28.8628 32.8894 29.4531L35.7126 41.6712L25.0718 35.2121C24.5526 34.896 23.9565 34.7287 23.3487 34.7287C22.7408 34.7287 22.1447 34.896 21.6255 35.2121L10.9993 41.6712L13.8038 29.4614C13.9416 28.8712 13.9159 28.2545 13.7294 27.6777C13.5429 27.1009 13.2027 26.586 12.7453 26.1881L3.3442 17.9913C3.34343 17.9851 3.34343 17.9788 3.3442 17.9726L15.729 16.9016C16.3337 16.8483 16.9123 16.6309 17.4025 16.2729C17.8927 15.9149 18.2758 15.4299 18.5106 14.8701L23.3466 3.34998L28.1805 14.8701C28.4153 15.4299 28.7984 15.9149 29.2886 16.2729C29.7788 16.6309 30.3574 16.8483 30.9621 16.9016L43.349 17.9726C43.349 17.9726 43.349 17.9851 43.349 17.9872L43.3448 17.9788Z" fill="#242121" />
						</svg>
						<svg width="47" height="45" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M46.516 16.937C46.3141 16.3148 45.9337 15.7658 45.4221 15.3582C44.9104 14.9507 44.2902 14.7027 43.6386 14.6451L31.2642 13.5783L26.4136 2.04358C26.1611 1.43833 25.7351 0.921335 25.1893 0.557688C24.6436 0.19404 24.0024 0 23.3466 0C22.6908 0 22.0496 0.19404 21.5038 0.557688C20.9581 0.921335 20.5321 1.43833 20.2796 2.04358L15.4436 13.5783L3.05458 14.6513C2.40041 14.7063 1.77703 14.9532 1.26261 15.361C0.748193 15.7689 0.36564 16.3195 0.162924 16.9439C-0.0397925 17.5683 -0.0536483 18.2387 0.123094 18.8709C0.299837 19.5031 0.65931 20.0691 1.15643 20.4979L10.5555 28.7113L7.73847 40.9086C7.58951 41.5469 7.63202 42.215 7.86067 42.8292C8.08932 43.4435 8.49397 43.9767 9.02403 44.3623C9.55409 44.7478 10.186 44.9686 10.8409 44.9969C11.4957 45.0252 12.1444 44.8599 12.7057 44.5216L23.332 38.0625L33.9812 44.5216C34.5426 44.8599 35.1912 45.0252 35.846 44.9969C36.5009 44.9686 37.1328 44.7478 37.6629 44.3623C38.1929 43.9767 38.5976 43.4435 38.8262 42.8292C39.0549 42.215 39.0974 41.5469 38.9484 40.9086L36.1335 28.6988L45.5305 20.4979C46.0275 20.0676 46.3863 19.5 46.5617 18.8665C46.737 18.2329 46.7211 17.5616 46.516 16.937ZM43.3448 17.9788L33.9478 26.1798C33.4905 26.5776 33.1503 27.0926 32.9638 27.6694C32.7773 28.2461 32.7516 28.8628 32.8894 29.4531L35.7126 41.6712L25.0718 35.2121C24.5526 34.896 23.9565 34.7287 23.3487 34.7287C22.7408 34.7287 22.1447 34.896 21.6255 35.2121L10.9993 41.6712L13.8038 29.4614C13.9416 28.8712 13.9159 28.2545 13.7294 27.6777C13.5429 27.1009 13.2027 26.586 12.7453 26.1881L3.3442 17.9913C3.34343 17.9851 3.34343 17.9788 3.3442 17.9726L15.729 16.9016C16.3337 16.8483 16.9123 16.6309 17.4025 16.2729C17.8927 15.9149 18.2758 15.4299 18.5106 14.8701L23.3466 3.34998L28.1805 14.8701C28.4153 15.4299 28.7984 15.9149 29.2886 16.2729C29.7788 16.6309 30.3574 16.8483 30.9621 16.9016L43.349 17.9726C43.349 17.9726 43.349 17.9851 43.349 17.9872L43.3448 17.9788Z" fill="#242121" />
						</svg>
						<svg width="47" height="45" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M46.516 16.937C46.3141 16.3148 45.9337 15.7658 45.4221 15.3582C44.9104 14.9507 44.2902 14.7027 43.6386 14.6451L31.2642 13.5783L26.4136 2.04358C26.1611 1.43833 25.7351 0.921335 25.1893 0.557688C24.6436 0.19404 24.0024 0 23.3466 0C22.6908 0 22.0496 0.19404 21.5038 0.557688C20.9581 0.921335 20.5321 1.43833 20.2796 2.04358L15.4436 13.5783L3.05458 14.6513C2.40041 14.7063 1.77703 14.9532 1.26261 15.361C0.748193 15.7689 0.36564 16.3195 0.162924 16.9439C-0.0397925 17.5683 -0.0536483 18.2387 0.123094 18.8709C0.299837 19.5031 0.65931 20.0691 1.15643 20.4979L10.5555 28.7113L7.73847 40.9086C7.58951 41.5469 7.63202 42.215 7.86067 42.8292C8.08932 43.4435 8.49397 43.9767 9.02403 44.3623C9.55409 44.7478 10.186 44.9686 10.8409 44.9969C11.4957 45.0252 12.1444 44.8599 12.7057 44.5216L23.332 38.0625L33.9812 44.5216C34.5426 44.8599 35.1912 45.0252 35.846 44.9969C36.5009 44.9686 37.1328 44.7478 37.6629 44.3623C38.1929 43.9767 38.5976 43.4435 38.8262 42.8292C39.0549 42.215 39.0974 41.5469 38.9484 40.9086L36.1335 28.6988L45.5305 20.4979C46.0275 20.0676 46.3863 19.5 46.5617 18.8665C46.737 18.2329 46.7211 17.5616 46.516 16.937ZM43.3448 17.9788L33.9478 26.1798C33.4905 26.5776 33.1503 27.0926 32.9638 27.6694C32.7773 28.2461 32.7516 28.8628 32.8894 29.4531L35.7126 41.6712L25.0718 35.2121C24.5526 34.896 23.9565 34.7287 23.3487 34.7287C22.7408 34.7287 22.1447 34.896 21.6255 35.2121L10.9993 41.6712L13.8038 29.4614C13.9416 28.8712 13.9159 28.2545 13.7294 27.6777C13.5429 27.1009 13.2027 26.586 12.7453 26.1881L3.3442 17.9913C3.34343 17.9851 3.34343 17.9788 3.3442 17.9726L15.729 16.9016C16.3337 16.8483 16.9123 16.6309 17.4025 16.2729C17.8927 15.9149 18.2758 15.4299 18.5106 14.8701L23.3466 3.34998L28.1805 14.8701C28.4153 15.4299 28.7984 15.9149 29.2886 16.2729C29.7788 16.6309 30.3574 16.8483 30.9621 16.9016L43.349 17.9726C43.349 17.9726 43.349 17.9851 43.349 17.9872L43.3448 17.9788Z" fill="#242121" />
						</svg>
						<svg width="47" height="45" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M46.516 16.937C46.3141 16.3148 45.9337 15.7658 45.4221 15.3582C44.9104 14.9507 44.2902 14.7027 43.6386 14.6451L31.2642 13.5783L26.4136 2.04358C26.1611 1.43833 25.7351 0.921335 25.1893 0.557688C24.6436 0.19404 24.0024 0 23.3466 0C22.6908 0 22.0496 0.19404 21.5038 0.557688C20.9581 0.921335 20.5321 1.43833 20.2796 2.04358L15.4436 13.5783L3.05458 14.6513C2.40041 14.7063 1.77703 14.9532 1.26261 15.361C0.748193 15.7689 0.36564 16.3195 0.162924 16.9439C-0.0397925 17.5683 -0.0536483 18.2387 0.123094 18.8709C0.299837 19.5031 0.65931 20.0691 1.15643 20.4979L10.5555 28.7113L7.73847 40.9086C7.58951 41.5469 7.63202 42.215 7.86067 42.8292C8.08932 43.4435 8.49397 43.9767 9.02403 44.3623C9.55409 44.7478 10.186 44.9686 10.8409 44.9969C11.4957 45.0252 12.1444 44.8599 12.7057 44.5216L23.332 38.0625L33.9812 44.5216C34.5426 44.8599 35.1912 45.0252 35.846 44.9969C36.5009 44.9686 37.1328 44.7478 37.6629 44.3623C38.1929 43.9767 38.5976 43.4435 38.8262 42.8292C39.0549 42.215 39.0974 41.5469 38.9484 40.9086L36.1335 28.6988L45.5305 20.4979C46.0275 20.0676 46.3863 19.5 46.5617 18.8665C46.737 18.2329 46.7211 17.5616 46.516 16.937ZM43.3448 17.9788L33.9478 26.1798C33.4905 26.5776 33.1503 27.0926 32.9638 27.6694C32.7773 28.2461 32.7516 28.8628 32.8894 29.4531L35.7126 41.6712L25.0718 35.2121C24.5526 34.896 23.9565 34.7287 23.3487 34.7287C22.7408 34.7287 22.1447 34.896 21.6255 35.2121L10.9993 41.6712L13.8038 29.4614C13.9416 28.8712 13.9159 28.2545 13.7294 27.6777C13.5429 27.1009 13.2027 26.586 12.7453 26.1881L3.3442 17.9913C3.34343 17.9851 3.34343 17.9788 3.3442 17.9726L15.729 16.9016C16.3337 16.8483 16.9123 16.6309 17.4025 16.2729C17.8927 15.9149 18.2758 15.4299 18.5106 14.8701L23.3466 3.34998L28.1805 14.8701C28.4153 15.4299 28.7984 15.9149 29.2886 16.2729C29.7788 16.6309 30.3574 16.8483 30.9621 16.9016L43.349 17.9726C43.349 17.9726 43.349 17.9851 43.349 17.9872L43.3448 17.9788Z" fill="#878477" />
						</svg>
					</div>
				</div>				
				<div class="Container-content">
					<h3>Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				</div>
				<div class="Container-wrap">
					<div class="wrap">
						<svg width="220" height="44" viewBox="0 0 220 44" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.69567 12.2021V1.76735C8.69567 1.3061 8.87889 0.863746 9.20504 0.537596C9.53119 0.211446 9.97355 0.0282168 10.4348 0.0282168C10.896 0.0282168 11.3384 0.211446 11.6645 0.537596C11.9907 0.863746 12.1739 1.3061 12.1739 1.76735V12.2021C12.1739 12.6634 11.9907 13.1057 11.6645 13.4319C11.3384 13.758 10.896 13.9413 10.4348 13.9413C9.97355 13.9413 9.53119 13.758 9.20504 13.4319C8.87889 13.1057 8.69567 12.6634 8.69567 12.2021ZM40 1.76735V41.7673C40 42.2286 39.8168 42.6709 39.4906 42.9971C39.1645 43.3232 38.7221 43.5065 38.2609 43.5065C37.7996 43.5065 37.3573 43.3232 37.0311 42.9971C36.705 42.6709 36.5217 42.2286 36.5217 41.7673V31.3326H26.087C25.6257 31.3326 25.1834 31.1493 24.8572 30.8232C24.5311 30.497 24.3478 30.0547 24.3478 29.5934C24.4286 25.4275 24.9548 21.2822 25.9174 17.2282C28.0435 8.42604 32.0739 2.52604 37.5761 0.169521C37.8405 0.0562396 38.129 0.0103346 38.4155 0.0359208C38.7021 0.061507 38.9778 0.157785 39.218 0.316127C39.4582 0.474469 39.6554 0.689929 39.7919 0.943201C39.9284 1.19647 39.9999 1.47965 40 1.76735ZM36.5217 4.78908C29.5283 10.1304 28.1587 23.1412 27.8913 27.8543H36.5217V4.78908ZM19.1065 1.48256C19.0725 1.2542 18.9933 1.03491 18.8736 0.83748C18.7539 0.640048 18.5961 0.468427 18.4093 0.332627C18.2226 0.196828 18.0107 0.0995684 17.786 0.0465224C17.5613 -0.00652373 17.3283 -0.0142946 17.1005 0.0236628C16.8728 0.0616202 16.6549 0.144546 16.4595 0.267604C16.2641 0.390661 16.0952 0.551387 15.9627 0.740405C15.8301 0.929424 15.7364 1.14295 15.6872 1.36854C15.638 1.59412 15.6343 1.82724 15.6761 2.0543L17.3913 12.3391C17.3913 14.1841 16.6584 15.9535 15.3538 17.2581C14.0492 18.5627 12.2798 19.2956 10.4348 19.2956C8.58981 19.2956 6.82039 18.5627 5.51579 17.2581C4.21119 15.9535 3.47828 14.1841 3.47828 12.3391L5.19132 2.0543C5.23316 1.82724 5.22937 1.59412 5.18017 1.36854C5.13097 1.14295 5.03735 0.929424 4.90476 0.740405C4.77217 0.551387 4.60327 0.390661 4.40791 0.267604C4.21255 0.144546 3.99464 0.0616202 3.7669 0.0236628C3.53915 -0.0142946 3.30613 -0.00652373 3.08142 0.0465224C2.85671 0.0995684 2.64481 0.196828 2.45809 0.332627C2.27136 0.468427 2.11354 0.640048 1.99384 0.83748C1.87414 1.03491 1.79495 1.2542 1.76088 1.48256L0.0217552 11.9173C0.00687563 12.0115 -0.000393914 12.1068 1.64464e-05 12.2021C0.00349139 14.6669 0.878099 17.0512 2.46929 18.9336C4.06049 20.8159 6.26584 22.0753 8.69567 22.4891V41.7673C8.69567 42.2286 8.87889 42.6709 9.20504 42.9971C9.53119 43.3232 9.97355 43.5065 10.4348 43.5065C10.896 43.5065 11.3384 43.3232 11.6645 42.9971C11.9907 42.6709 12.1739 42.2286 12.1739 41.7673V22.4891C14.6037 22.0753 16.8091 20.8159 18.4003 18.9336C19.9915 17.0512 20.8661 14.6669 20.8696 12.2021C20.8693 12.1067 20.8613 12.0115 20.8457 11.9173L19.1065 1.48256Z" fill="#878477" />
							<path d="M68.6957 12.2021V1.76735C68.6957 1.3061 68.8789 0.863746 69.205 0.537596C69.5312 0.211446 69.9735 0.0282168 70.4348 0.0282168C70.896 0.0282168 71.3384 0.211446 71.6645 0.537596C71.9907 0.863746 72.1739 1.3061 72.1739 1.76735V12.2021C72.1739 12.6634 71.9907 13.1057 71.6645 13.4319C71.3384 13.758 70.896 13.9413 70.4348 13.9413C69.9735 13.9413 69.5312 13.758 69.205 13.4319C68.8789 13.1057 68.6957 12.6634 68.6957 12.2021ZM100 1.76735V41.7673C100 42.2286 99.8168 42.6709 99.4906 42.9971C99.1645 43.3232 98.7221 43.5065 98.2609 43.5065C97.7996 43.5065 97.3573 43.3232 97.0311 42.9971C96.705 42.6709 96.5217 42.2286 96.5217 41.7673V31.3326H86.087C85.6257 31.3326 85.1834 31.1493 84.8572 30.8232C84.5311 30.497 84.3478 30.0547 84.3478 29.5934C84.4286 25.4275 84.9548 21.2822 85.9174 17.2282C88.0435 8.42604 92.0739 2.52604 97.5761 0.169521C97.8405 0.0562396 98.129 0.0103346 98.4155 0.0359208C98.7021 0.061507 98.9778 0.157785 99.218 0.316127C99.4582 0.474469 99.6554 0.689929 99.7919 0.943201C99.9284 1.19647 99.9999 1.47965 100 1.76735ZM96.5217 4.78908C89.5283 10.1304 88.1587 23.1412 87.8913 27.8543H96.5217V4.78908ZM79.1065 1.48256C79.0725 1.2542 78.9933 1.03491 78.8736 0.83748C78.7539 0.640048 78.5961 0.468427 78.4093 0.332627C78.2226 0.196828 78.0107 0.0995684 77.786 0.0465224C77.5613 -0.00652373 77.3283 -0.0142946 77.1005 0.0236628C76.8728 0.0616202 76.6549 0.144546 76.4595 0.267604C76.2641 0.390661 76.0952 0.551387 75.9627 0.740405C75.8301 0.929424 75.7364 1.14295 75.6872 1.36854C75.638 1.59412 75.6343 1.82724 75.6761 2.0543L77.3913 12.3391C77.3913 14.1841 76.6584 15.9535 75.3538 17.2581C74.0492 18.5627 72.2798 19.2956 70.4348 19.2956C68.5898 19.2956 66.8204 18.5627 65.5158 17.2581C64.2112 15.9535 63.4783 14.1841 63.4783 12.3391L65.1913 2.0543C65.2332 1.82724 65.2294 1.59412 65.1802 1.36854C65.131 1.14295 65.0373 0.929424 64.9048 0.740405C64.7722 0.551387 64.6033 0.390661 64.4079 0.267604C64.2125 0.144546 63.9946 0.0616202 63.7669 0.0236628C63.5392 -0.0142946 63.3061 -0.00652373 63.0814 0.0465224C62.8567 0.0995684 62.6448 0.196828 62.4581 0.332627C62.2714 0.468427 62.1135 0.640048 61.9938 0.83748C61.8741 1.03491 61.7949 1.2542 61.7609 1.48256L60.0218 11.9173C60.0069 12.0115 59.9996 12.1068 60 12.2021C60.0035 14.6669 60.8781 17.0512 62.4693 18.9336C64.0605 20.8159 66.2658 22.0753 68.6957 22.4891V41.7673C68.6957 42.2286 68.8789 42.6709 69.205 42.9971C69.5312 43.3232 69.9735 43.5065 70.4348 43.5065C70.896 43.5065 71.3384 43.3232 71.6645 42.9971C71.9907 42.6709 72.1739 42.2286 72.1739 41.7673V22.4891C74.6037 22.0753 76.8091 20.8159 78.4003 18.9336C79.9915 17.0512 80.8661 14.6669 80.8696 12.2021C80.8693 12.1067 80.8613 12.0115 80.8457 11.9173L79.1065 1.48256Z" fill="#878477" />
							<path d="M128.696 12.2021V1.76735C128.696 1.3061 128.879 0.863746 129.205 0.537596C129.531 0.211446 129.974 0.0282168 130.435 0.0282168C130.896 0.0282168 131.338 0.211446 131.665 0.537596C131.991 0.863746 132.174 1.3061 132.174 1.76735V12.2021C132.174 12.6634 131.991 13.1057 131.665 13.4319C131.338 13.758 130.896 13.9413 130.435 13.9413C129.974 13.9413 129.531 13.758 129.205 13.4319C128.879 13.1057 128.696 12.6634 128.696 12.2021ZM160 1.76735V41.7673C160 42.2286 159.817 42.6709 159.491 42.9971C159.164 43.3232 158.722 43.5065 158.261 43.5065C157.8 43.5065 157.357 43.3232 157.031 42.9971C156.705 42.6709 156.522 42.2286 156.522 41.7673V31.3326H146.087C145.626 31.3326 145.183 31.1493 144.857 30.8232C144.531 30.497 144.348 30.0547 144.348 29.5934C144.429 25.4275 144.955 21.2822 145.917 17.2282C148.043 8.42604 152.074 2.52604 157.576 0.169521C157.841 0.0562396 158.129 0.0103346 158.416 0.0359208C158.702 0.061507 158.978 0.157785 159.218 0.316127C159.458 0.474469 159.655 0.689929 159.792 0.943201C159.928 1.19647 160 1.47965 160 1.76735ZM156.522 4.78908C149.528 10.1304 148.159 23.1412 147.891 27.8543H156.522V4.78908ZM139.107 1.48256C139.072 1.2542 138.993 1.03491 138.874 0.83748C138.754 0.640048 138.596 0.468427 138.409 0.332627C138.223 0.196828 138.011 0.0995684 137.786 0.0465224C137.561 -0.00652373 137.328 -0.0142946 137.101 0.0236628C136.873 0.0616202 136.655 0.144546 136.46 0.267604C136.264 0.390661 136.095 0.551387 135.963 0.740405C135.83 0.929424 135.736 1.14295 135.687 1.36854C135.638 1.59412 135.634 1.82724 135.676 2.0543L137.391 12.3391C137.391 14.1841 136.658 15.9535 135.354 17.2581C134.049 18.5627 132.28 19.2956 130.435 19.2956C128.59 19.2956 126.82 18.5627 125.516 17.2581C124.211 15.9535 123.478 14.1841 123.478 12.3391L125.191 2.0543C125.233 1.82724 125.229 1.59412 125.18 1.36854C125.131 1.14295 125.037 0.929424 124.905 0.740405C124.772 0.551387 124.603 0.390661 124.408 0.267604C124.213 0.144546 123.995 0.0616202 123.767 0.0236628C123.539 -0.0142946 123.306 -0.00652373 123.081 0.0465224C122.857 0.0995684 122.645 0.196828 122.458 0.332627C122.271 0.468427 122.114 0.640048 121.994 0.83748C121.874 1.03491 121.795 1.2542 121.761 1.48256L120.022 11.9173C120.007 12.0115 120 12.1068 120 12.2021C120.003 14.6669 120.878 17.0512 122.469 18.9336C124.06 20.8159 126.266 22.0753 128.696 22.4891V41.7673C128.696 42.2286 128.879 42.6709 129.205 42.9971C129.531 43.3232 129.974 43.5065 130.435 43.5065C130.896 43.5065 131.338 43.3232 131.665 42.9971C131.991 42.6709 132.174 42.2286 132.174 41.7673V22.4891C134.604 22.0753 136.809 20.8159 138.4 18.9336C139.991 17.0512 140.866 14.6669 140.87 12.2021C140.869 12.1067 140.861 12.0115 140.846 11.9173L139.107 1.48256Z" fill="#878477" />
							<path d="M188.696 12.2021V1.76735C188.696 1.3061 188.879 0.863746 189.205 0.537596C189.531 0.211446 189.974 0.0282168 190.435 0.0282168C190.896 0.0282168 191.338 0.211446 191.665 0.537596C191.991 0.863746 192.174 1.3061 192.174 1.76735V12.2021C192.174 12.6634 191.991 13.1057 191.665 13.4319C191.338 13.758 190.896 13.9413 190.435 13.9413C189.974 13.9413 189.531 13.758 189.205 13.4319C188.879 13.1057 188.696 12.6634 188.696 12.2021ZM220 1.76735V41.7673C220 42.2286 219.817 42.6709 219.491 42.9971C219.164 43.3232 218.722 43.5065 218.261 43.5065C217.8 43.5065 217.357 43.3232 217.031 42.9971C216.705 42.6709 216.522 42.2286 216.522 41.7673V31.3326H206.087C205.626 31.3326 205.183 31.1493 204.857 30.8232C204.531 30.497 204.348 30.0547 204.348 29.5934C204.429 25.4275 204.955 21.2822 205.917 17.2282C208.043 8.42604 212.074 2.52604 217.576 0.169521C217.841 0.0562396 218.129 0.0103346 218.416 0.0359208C218.702 0.061507 218.978 0.157785 219.218 0.316127C219.458 0.474469 219.655 0.689929 219.792 0.943201C219.928 1.19647 220 1.47965 220 1.76735ZM216.522 4.78908C209.528 10.1304 208.159 23.1412 207.891 27.8543H216.522V4.78908ZM199.107 1.48256C199.072 1.2542 198.993 1.03491 198.874 0.83748C198.754 0.640048 198.596 0.468427 198.409 0.332627C198.223 0.196828 198.011 0.0995684 197.786 0.0465224C197.561 -0.00652373 197.328 -0.0142946 197.101 0.0236628C196.873 0.0616202 196.655 0.144546 196.46 0.267604C196.264 0.390661 196.095 0.551387 195.963 0.740405C195.83 0.929424 195.736 1.14295 195.687 1.36854C195.638 1.59412 195.634 1.82724 195.676 2.0543L197.391 12.3391C197.391 14.1841 196.658 15.9535 195.354 17.2581C194.049 18.5627 192.28 19.2956 190.435 19.2956C188.59 19.2956 186.82 18.5627 185.516 17.2581C184.211 15.9535 183.478 14.1841 183.478 12.3391L185.191 2.0543C185.233 1.82724 185.229 1.59412 185.18 1.36854C185.131 1.14295 185.037 0.929424 184.905 0.740405C184.772 0.551387 184.603 0.390661 184.408 0.267604C184.213 0.144546 183.995 0.0616202 183.767 0.0236628C183.539 -0.0142946 183.306 -0.00652373 183.081 0.0465224C182.857 0.0995684 182.645 0.196828 182.458 0.332627C182.271 0.468427 182.114 0.640048 181.994 0.83748C181.874 1.03491 181.795 1.2542 181.761 1.48256L180.022 11.9173C180.007 12.0115 180 12.1068 180 12.2021C180.003 14.6669 180.878 17.0512 182.469 18.9336C184.06 20.8159 186.266 22.0753 188.696 22.4891V41.7673C188.696 42.2286 188.879 42.6709 189.205 42.9971C189.531 43.3232 189.974 43.5065 190.435 43.5065C190.896 43.5065 191.338 43.3232 191.665 42.9971C191.991 42.6709 192.174 42.2286 192.174 41.7673V22.4891C194.604 22.0753 196.809 20.8159 198.4 18.9336C199.991 17.0512 200.866 14.6669 200.87 12.2021C200.869 12.1067 200.861 12.0115 200.846 11.9173L199.107 1.48256Z" fill="#878477" />
						</svg>

					</div>
					<div class="wrap">
						<svg width="220" height="44" viewBox="0 0 220 44" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.69567 12.2021V1.76735C8.69567 1.3061 8.87889 0.863746 9.20504 0.537596C9.53119 0.211446 9.97355 0.0282168 10.4348 0.0282168C10.896 0.0282168 11.3384 0.211446 11.6645 0.537596C11.9907 0.863746 12.1739 1.3061 12.1739 1.76735V12.2021C12.1739 12.6634 11.9907 13.1057 11.6645 13.4319C11.3384 13.758 10.896 13.9413 10.4348 13.9413C9.97355 13.9413 9.53119 13.758 9.20504 13.4319C8.87889 13.1057 8.69567 12.6634 8.69567 12.2021ZM40 1.76735V41.7673C40 42.2286 39.8168 42.6709 39.4906 42.9971C39.1645 43.3232 38.7221 43.5065 38.2609 43.5065C37.7996 43.5065 37.3573 43.3232 37.0311 42.9971C36.705 42.6709 36.5217 42.2286 36.5217 41.7673V31.3326H26.087C25.6257 31.3326 25.1834 31.1493 24.8572 30.8232C24.5311 30.497 24.3478 30.0547 24.3478 29.5934C24.4286 25.4275 24.9548 21.2822 25.9174 17.2282C28.0435 8.42604 32.0739 2.52604 37.5761 0.169521C37.8405 0.0562396 38.129 0.0103346 38.4155 0.0359208C38.7021 0.061507 38.9778 0.157785 39.218 0.316127C39.4582 0.474469 39.6554 0.689929 39.7919 0.943201C39.9284 1.19647 39.9999 1.47965 40 1.76735ZM36.5217 4.78908C29.5283 10.1304 28.1587 23.1412 27.8913 27.8543H36.5217V4.78908ZM19.1065 1.48256C19.0725 1.2542 18.9933 1.03491 18.8736 0.83748C18.7539 0.640048 18.5961 0.468427 18.4093 0.332627C18.2226 0.196828 18.0107 0.0995684 17.786 0.0465224C17.5613 -0.00652373 17.3283 -0.0142946 17.1005 0.0236628C16.8728 0.0616202 16.6549 0.144546 16.4595 0.267604C16.2641 0.390661 16.0952 0.551387 15.9627 0.740405C15.8301 0.929424 15.7364 1.14295 15.6872 1.36854C15.638 1.59412 15.6343 1.82724 15.6761 2.0543L17.3913 12.3391C17.3913 14.1841 16.6584 15.9535 15.3538 17.2581C14.0492 18.5627 12.2798 19.2956 10.4348 19.2956C8.58981 19.2956 6.82039 18.5627 5.51579 17.2581C4.21119 15.9535 3.47828 14.1841 3.47828 12.3391L5.19132 2.0543C5.23316 1.82724 5.22937 1.59412 5.18017 1.36854C5.13097 1.14295 5.03735 0.929424 4.90476 0.740405C4.77217 0.551387 4.60327 0.390661 4.40791 0.267604C4.21255 0.144546 3.99464 0.0616202 3.7669 0.0236628C3.53915 -0.0142946 3.30613 -0.00652373 3.08142 0.0465224C2.85671 0.0995684 2.64481 0.196828 2.45809 0.332627C2.27136 0.468427 2.11354 0.640048 1.99384 0.83748C1.87414 1.03491 1.79495 1.2542 1.76088 1.48256L0.0217552 11.9173C0.00687563 12.0115 -0.000393914 12.1068 1.64464e-05 12.2021C0.00349139 14.6669 0.878099 17.0512 2.46929 18.9336C4.06049 20.8159 6.26584 22.0753 8.69567 22.4891V41.7673C8.69567 42.2286 8.87889 42.6709 9.20504 42.9971C9.53119 43.3232 9.97355 43.5065 10.4348 43.5065C10.896 43.5065 11.3384 43.3232 11.6645 42.9971C11.9907 42.6709 12.1739 42.2286 12.1739 41.7673V22.4891C14.6037 22.0753 16.8091 20.8159 18.4003 18.9336C19.9915 17.0512 20.8661 14.6669 20.8696 12.2021C20.8693 12.1067 20.8613 12.0115 20.8457 11.9173L19.1065 1.48256Z" fill="#878477" />
							<path d="M68.6957 12.2021V1.76735C68.6957 1.3061 68.8789 0.863746 69.205 0.537596C69.5312 0.211446 69.9735 0.0282168 70.4348 0.0282168C70.896 0.0282168 71.3384 0.211446 71.6645 0.537596C71.9907 0.863746 72.1739 1.3061 72.1739 1.76735V12.2021C72.1739 12.6634 71.9907 13.1057 71.6645 13.4319C71.3384 13.758 70.896 13.9413 70.4348 13.9413C69.9735 13.9413 69.5312 13.758 69.205 13.4319C68.8789 13.1057 68.6957 12.6634 68.6957 12.2021ZM100 1.76735V41.7673C100 42.2286 99.8168 42.6709 99.4906 42.9971C99.1645 43.3232 98.7221 43.5065 98.2609 43.5065C97.7996 43.5065 97.3573 43.3232 97.0311 42.9971C96.705 42.6709 96.5217 42.2286 96.5217 41.7673V31.3326H86.087C85.6257 31.3326 85.1834 31.1493 84.8572 30.8232C84.5311 30.497 84.3478 30.0547 84.3478 29.5934C84.4286 25.4275 84.9548 21.2822 85.9174 17.2282C88.0435 8.42604 92.0739 2.52604 97.5761 0.169521C97.8405 0.0562396 98.129 0.0103346 98.4155 0.0359208C98.7021 0.061507 98.9778 0.157785 99.218 0.316127C99.4582 0.474469 99.6554 0.689929 99.7919 0.943201C99.9284 1.19647 99.9999 1.47965 100 1.76735ZM96.5217 4.78908C89.5283 10.1304 88.1587 23.1412 87.8913 27.8543H96.5217V4.78908ZM79.1065 1.48256C79.0725 1.2542 78.9933 1.03491 78.8736 0.83748C78.7539 0.640048 78.5961 0.468427 78.4093 0.332627C78.2226 0.196828 78.0107 0.0995684 77.786 0.0465224C77.5613 -0.00652373 77.3283 -0.0142946 77.1005 0.0236628C76.8728 0.0616202 76.6549 0.144546 76.4595 0.267604C76.2641 0.390661 76.0952 0.551387 75.9627 0.740405C75.8301 0.929424 75.7364 1.14295 75.6872 1.36854C75.638 1.59412 75.6343 1.82724 75.6761 2.0543L77.3913 12.3391C77.3913 14.1841 76.6584 15.9535 75.3538 17.2581C74.0492 18.5627 72.2798 19.2956 70.4348 19.2956C68.5898 19.2956 66.8204 18.5627 65.5158 17.2581C64.2112 15.9535 63.4783 14.1841 63.4783 12.3391L65.1913 2.0543C65.2332 1.82724 65.2294 1.59412 65.1802 1.36854C65.131 1.14295 65.0373 0.929424 64.9048 0.740405C64.7722 0.551387 64.6033 0.390661 64.4079 0.267604C64.2125 0.144546 63.9946 0.0616202 63.7669 0.0236628C63.5392 -0.0142946 63.3061 -0.00652373 63.0814 0.0465224C62.8567 0.0995684 62.6448 0.196828 62.4581 0.332627C62.2714 0.468427 62.1135 0.640048 61.9938 0.83748C61.8741 1.03491 61.7949 1.2542 61.7609 1.48256L60.0218 11.9173C60.0069 12.0115 59.9996 12.1068 60 12.2021C60.0035 14.6669 60.8781 17.0512 62.4693 18.9336C64.0605 20.8159 66.2658 22.0753 68.6957 22.4891V41.7673C68.6957 42.2286 68.8789 42.6709 69.205 42.9971C69.5312 43.3232 69.9735 43.5065 70.4348 43.5065C70.896 43.5065 71.3384 43.3232 71.6645 42.9971C71.9907 42.6709 72.1739 42.2286 72.1739 41.7673V22.4891C74.6037 22.0753 76.8091 20.8159 78.4003 18.9336C79.9915 17.0512 80.8661 14.6669 80.8696 12.2021C80.8693 12.1067 80.8613 12.0115 80.8457 11.9173L79.1065 1.48256Z" fill="#878477" />
							<path d="M128.696 12.2021V1.76735C128.696 1.3061 128.879 0.863746 129.205 0.537596C129.531 0.211446 129.974 0.0282168 130.435 0.0282168C130.896 0.0282168 131.338 0.211446 131.665 0.537596C131.991 0.863746 132.174 1.3061 132.174 1.76735V12.2021C132.174 12.6634 131.991 13.1057 131.665 13.4319C131.338 13.758 130.896 13.9413 130.435 13.9413C129.974 13.9413 129.531 13.758 129.205 13.4319C128.879 13.1057 128.696 12.6634 128.696 12.2021ZM160 1.76735V41.7673C160 42.2286 159.817 42.6709 159.491 42.9971C159.164 43.3232 158.722 43.5065 158.261 43.5065C157.8 43.5065 157.357 43.3232 157.031 42.9971C156.705 42.6709 156.522 42.2286 156.522 41.7673V31.3326H146.087C145.626 31.3326 145.183 31.1493 144.857 30.8232C144.531 30.497 144.348 30.0547 144.348 29.5934C144.429 25.4275 144.955 21.2822 145.917 17.2282C148.043 8.42604 152.074 2.52604 157.576 0.169521C157.841 0.0562396 158.129 0.0103346 158.416 0.0359208C158.702 0.061507 158.978 0.157785 159.218 0.316127C159.458 0.474469 159.655 0.689929 159.792 0.943201C159.928 1.19647 160 1.47965 160 1.76735ZM156.522 4.78908C149.528 10.1304 148.159 23.1412 147.891 27.8543H156.522V4.78908ZM139.107 1.48256C139.072 1.2542 138.993 1.03491 138.874 0.83748C138.754 0.640048 138.596 0.468427 138.409 0.332627C138.223 0.196828 138.011 0.0995684 137.786 0.0465224C137.561 -0.00652373 137.328 -0.0142946 137.101 0.0236628C136.873 0.0616202 136.655 0.144546 136.46 0.267604C136.264 0.390661 136.095 0.551387 135.963 0.740405C135.83 0.929424 135.736 1.14295 135.687 1.36854C135.638 1.59412 135.634 1.82724 135.676 2.0543L137.391 12.3391C137.391 14.1841 136.658 15.9535 135.354 17.2581C134.049 18.5627 132.28 19.2956 130.435 19.2956C128.59 19.2956 126.82 18.5627 125.516 17.2581C124.211 15.9535 123.478 14.1841 123.478 12.3391L125.191 2.0543C125.233 1.82724 125.229 1.59412 125.18 1.36854C125.131 1.14295 125.037 0.929424 124.905 0.740405C124.772 0.551387 124.603 0.390661 124.408 0.267604C124.213 0.144546 123.995 0.0616202 123.767 0.0236628C123.539 -0.0142946 123.306 -0.00652373 123.081 0.0465224C122.857 0.0995684 122.645 0.196828 122.458 0.332627C122.271 0.468427 122.114 0.640048 121.994 0.83748C121.874 1.03491 121.795 1.2542 121.761 1.48256L120.022 11.9173C120.007 12.0115 120 12.1068 120 12.2021C120.003 14.6669 120.878 17.0512 122.469 18.9336C124.06 20.8159 126.266 22.0753 128.696 22.4891V41.7673C128.696 42.2286 128.879 42.6709 129.205 42.9971C129.531 43.3232 129.974 43.5065 130.435 43.5065C130.896 43.5065 131.338 43.3232 131.665 42.9971C131.991 42.6709 132.174 42.2286 132.174 41.7673V22.4891C134.604 22.0753 136.809 20.8159 138.4 18.9336C139.991 17.0512 140.866 14.6669 140.87 12.2021C140.869 12.1067 140.861 12.0115 140.846 11.9173L139.107 1.48256Z" fill="#878477" />
							<path d="M188.696 12.2021V1.76735C188.696 1.3061 188.879 0.863746 189.205 0.537596C189.531 0.211446 189.974 0.0282168 190.435 0.0282168C190.896 0.0282168 191.338 0.211446 191.665 0.537596C191.991 0.863746 192.174 1.3061 192.174 1.76735V12.2021C192.174 12.6634 191.991 13.1057 191.665 13.4319C191.338 13.758 190.896 13.9413 190.435 13.9413C189.974 13.9413 189.531 13.758 189.205 13.4319C188.879 13.1057 188.696 12.6634 188.696 12.2021ZM220 1.76735V41.7673C220 42.2286 219.817 42.6709 219.491 42.9971C219.164 43.3232 218.722 43.5065 218.261 43.5065C217.8 43.5065 217.357 43.3232 217.031 42.9971C216.705 42.6709 216.522 42.2286 216.522 41.7673V31.3326H206.087C205.626 31.3326 205.183 31.1493 204.857 30.8232C204.531 30.497 204.348 30.0547 204.348 29.5934C204.429 25.4275 204.955 21.2822 205.917 17.2282C208.043 8.42604 212.074 2.52604 217.576 0.169521C217.841 0.0562396 218.129 0.0103346 218.416 0.0359208C218.702 0.061507 218.978 0.157785 219.218 0.316127C219.458 0.474469 219.655 0.689929 219.792 0.943201C219.928 1.19647 220 1.47965 220 1.76735ZM216.522 4.78908C209.528 10.1304 208.159 23.1412 207.891 27.8543H216.522V4.78908ZM199.107 1.48256C199.072 1.2542 198.993 1.03491 198.874 0.83748C198.754 0.640048 198.596 0.468427 198.409 0.332627C198.223 0.196828 198.011 0.0995684 197.786 0.0465224C197.561 -0.00652373 197.328 -0.0142946 197.101 0.0236628C196.873 0.0616202 196.655 0.144546 196.46 0.267604C196.264 0.390661 196.095 0.551387 195.963 0.740405C195.83 0.929424 195.736 1.14295 195.687 1.36854C195.638 1.59412 195.634 1.82724 195.676 2.0543L197.391 12.3391C197.391 14.1841 196.658 15.9535 195.354 17.2581C194.049 18.5627 192.28 19.2956 190.435 19.2956C188.59 19.2956 186.82 18.5627 185.516 17.2581C184.211 15.9535 183.478 14.1841 183.478 12.3391L185.191 2.0543C185.233 1.82724 185.229 1.59412 185.18 1.36854C185.131 1.14295 185.037 0.929424 184.905 0.740405C184.772 0.551387 184.603 0.390661 184.408 0.267604C184.213 0.144546 183.995 0.0616202 183.767 0.0236628C183.539 -0.0142946 183.306 -0.00652373 183.081 0.0465224C182.857 0.0995684 182.645 0.196828 182.458 0.332627C182.271 0.468427 182.114 0.640048 181.994 0.83748C181.874 1.03491 181.795 1.2542 181.761 1.48256L180.022 11.9173C180.007 12.0115 180 12.1068 180 12.2021C180.003 14.6669 180.878 17.0512 182.469 18.9336C184.06 20.8159 186.266 22.0753 188.696 22.4891V41.7673C188.696 42.2286 188.879 42.6709 189.205 42.9971C189.531 43.3232 189.974 43.5065 190.435 43.5065C190.896 43.5065 191.338 43.3232 191.665 42.9971C191.991 42.6709 192.174 42.2286 192.174 41.7673V22.4891C194.604 22.0753 196.809 20.8159 198.4 18.9336C199.991 17.0512 200.866 14.6669 200.87 12.2021C200.869 12.1067 200.861 12.0115 200.846 11.9173L199.107 1.48256Z" fill="#878477" />
						</svg>

					</div>
				</div>
			</div>
			<div class="img-nav">
				<div class="ellipse active"></div>
				<div class="ellipse"></div>
				<div class="ellipse"></div>
				<div class="ellipse"></div>
			</div>
		</div>
		<div class="Title">
			<div class="Title content min-content">
				<h1>make your reservations right away.</h1>
			</div>
		</div>
		<div class="Content-wrap flex-col review-bar">
			<div class="Container min-container">
				<div class="Container-wrap left">
					<svg width="50" height="33" viewBox="0 0 50 33" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M31.7308 32.625H46.1538C47.1739 32.625 48.1522 32.2632 48.8735 31.6191C49.5948 30.9751 50 30.1016 50 29.1908V15.4538C50 14.543 49.5948 13.6695 48.8735 13.0255C48.1522 12.3814 47.1739 12.0196 46.1538 12.0196H31.7308V10.3025C31.7308 8.48087 32.5412 6.73385 33.9838 5.44576C35.4264 4.15768 37.383 3.43404 39.4231 3.43404C39.9331 3.43404 40.4223 3.25313 40.7829 2.93111C41.1435 2.60909 41.3462 2.17233 41.3462 1.71692C41.3462 1.26151 41.1435 0.824759 40.7829 0.502735C40.4223 0.180714 39.9331 -0.00019455 39.4231 -0.00019455C36.3639 0.0026474 33.4309 1.08902 31.2677 3.02053C29.1045 4.95205 27.8878 7.57093 27.8846 10.3025V29.1908C27.8846 30.1016 28.2898 30.9751 29.0111 31.6191C29.7324 32.2632 30.7107 32.625 31.7308 32.625ZM31.7308 15.4538H46.1538V29.1908H31.7308V15.4538ZM3.84615 32.625H18.2692C19.2893 32.625 20.2676 32.2632 20.9889 31.6191C21.7102 30.9751 22.1154 30.1016 22.1154 29.1908V15.4538C22.1154 14.543 21.7102 13.6695 20.9889 13.0255C20.2676 12.3814 19.2893 12.0196 18.2692 12.0196H3.84615V10.3025C3.84615 8.48087 4.65659 6.73385 6.09918 5.44576C7.54177 4.15768 9.49834 3.43404 11.5385 3.43404C12.0485 3.43404 12.5376 3.25313 12.8983 2.93111C13.2589 2.60909 13.4615 2.17233 13.4615 1.71692C13.4615 1.26151 13.2589 0.824759 12.8983 0.502735C12.5376 0.180714 12.0485 -0.00019455 11.5385 -0.00019455C8.47925 0.0026474 5.54625 1.08902 3.38305 3.02053C1.21986 4.95205 0.00318146 7.57093 0 10.3025V29.1908C0 30.1016 0.40522 30.9751 1.12651 31.6191C1.84781 32.2632 2.82609 32.625 3.84615 32.625ZM3.84615 15.4538H18.2692V29.1908H3.84615V15.4538Z" fill="#878477" />
					</svg>
				</div>
				<div class="Container-content min-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="Container-wrap right">
					<svg width="50" height="33" viewBox="0 0 50 33" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.2692 0H3.84615C2.82609 0 1.84781 0.36182 1.12651 1.00586C0.405218 1.64991 0 2.52342 0 3.43423V17.1712C0 18.082 0.405218 18.9555 1.12651 19.5995C1.84781 20.2436 2.82609 20.6054 3.84615 20.6054H18.2692V22.3225C18.2692 24.1441 17.4588 25.8911 16.0162 27.1792C14.5736 28.4673 12.617 29.191 10.5769 29.191C10.0669 29.191 9.57775 29.3719 9.2171 29.6939C8.85646 30.0159 8.65385 30.4527 8.65385 30.9081C8.65385 31.3635 8.85646 31.8002 9.2171 32.1223C9.57775 32.4443 10.0669 32.6252 10.5769 32.6252C13.6361 32.6224 16.5691 31.536 18.7323 29.6045C20.8955 27.673 22.1122 25.0541 22.1154 22.3225V3.43423C22.1154 2.52342 21.7102 1.64991 20.9889 1.00586C20.2676 0.36182 19.2893 0 18.2692 0ZM18.2692 17.1712H3.84615V3.43423H18.2692V17.1712ZM46.1538 0H31.7308C30.7107 0 29.7324 0.36182 29.0111 1.00586C28.2898 1.64991 27.8846 2.52342 27.8846 3.43423V17.1712C27.8846 18.082 28.2898 18.9555 29.0111 19.5995C29.7324 20.2436 30.7107 20.6054 31.7308 20.6054H46.1538V22.3225C46.1538 24.1441 45.3434 25.8911 43.9008 27.1792C42.4582 28.4673 40.5017 29.191 38.4615 29.191C37.9515 29.191 37.4624 29.3719 37.1017 29.6939C36.7411 30.0159 36.5385 30.4527 36.5385 30.9081C36.5385 31.3635 36.7411 31.8002 37.1017 32.1223C37.4624 32.4443 37.9515 32.6252 38.4615 32.6252C41.5208 32.6224 44.4538 31.536 46.6169 29.6045C48.7801 27.673 49.9968 25.0541 50 22.3225V3.43423C50 2.52342 49.5948 1.64991 48.8735 1.00586C48.1522 0.36182 47.1739 0 46.1538 0ZM46.1538 17.1712H31.7308V3.43423H46.1538V17.1712Z" fill="#878477" />
					</svg>
				</div>
			</div>
			<button>
				View more cuisines
			</button>
		</div>
</div>
<footer>
		<div class="Container-wrap left">
			<p>Nash Diplom</p>
		</div>
		<div class="Container-content footer-content flex-col">
			<div class="col">
				<h5>Lorem</h5>
				<ul>
					<li>Lorem1</li>
					<li>Lorem2</li>
					<li>Lorem3</li>
				</ul>
			</div>
			<div class="col">
				<h5>Ipsum</h5>
				<ul>
					<li>Ipsum1</li>
					<li>Ipsum2</li>
					<li>Ipsum3</li>
				</ul>
			</div>
			<div class="col">
				<h5>Dolor</h5>
				<ul>
					<li>Dolor1</li>
					<li>Dolor2</li>
					<li>Dolor3</li>
				</ul>
			</div>
		</div>
		<div class="Container-wrap right">
			<p>© All rights reserved</p>
		</div>
</footer>
</body>