@page "/"

<PageTitle>Index</PageTitle>
<body>
<div class="Header">
	<div class="Content">
		<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
		<h2>tempor incididunt ut labore et dolore magna aliqua.</h2>
		<button>
			забронювати стіл
		</button>
	</div>
	<div class="Bg">
		<div class="Content">
			<img src="/images/header-bg.png"/>
		</div>
	</div>
</div>
<div class="Main-Content">
	<div class="Title">
		<div class="Title content">
				<h1>How we works</h1>
				<svg width="83" height="45" viewBox="0 0 83 45" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M81.3961 6.40456L43.9003 43.9004C43.5521 44.249 43.1385 44.5256 42.6833 44.7142C42.2281 44.9029 41.7402 45.0001 41.2475 45.0001C40.7547 45.0001 40.2668 44.9029 39.8116 44.7142C39.3564 44.5256 38.9429 44.249 38.5946 43.9004L1.09884 6.40456C0.395263 5.70098 0 4.74673 0 3.75173C0 2.75672 0.395263 1.80247 1.09884 1.0989C1.80241 0.395323 2.75666 6.10352e-05 3.75167 6.10352e-05C4.74667 6.10352e-05 5.70092 0.395323 6.40449 1.0989L41.2475 35.9466L76.0905 1.0989C76.4388 0.750522 76.8524 0.474177 77.3076 0.285638C77.7628 0.097099 78.2506 6.10352e-05 78.7433 6.10352e-05C79.236 6.10352e-05 79.7238 0.097099 80.179 0.285638C80.6342 0.474177 81.0477 0.750522 81.3961 1.0989C81.7445 1.44727 82.0208 1.86085 82.2094 2.31603C82.3979 2.7712 82.4949 3.25905 82.4949 3.75173C82.4949 4.2444 82.3979 4.73225 82.2094 5.18743C82.0208 5.6426 81.7445 6.05618 81.3961 6.40456Z" fill="#FFF8E0" />
				</svg>

		</div>
	</div>
	<div class="Content-wrap">
		<div class="wrap-col">
			<div class="wrap-col-content">
					<img src="/images/Step1.png" />
					<h1>Step 1</h1>
					<h2>Choose a cuisine</h2>
					<p>Enter your preferred cuisine. Explore the flavors and stories behind each dish.</p>
			</div>
		</div>
		<div class="wrap-col mid-col">
			<div class="wrap-col-content">
					<img src="/images/Step1.png" />
					<h1>Step 2</h1>
					<h2>Explore the dishes</h2>
					<p>Choose your desired dishes and they will soon be served to you.</p>
			</div>
		</div>
		<div class="wrap-col">
			<div class="wrap-col-content">
					<img src="/images/Step1.png" />
					<h1>Step 3</h1>
					<h2>Engage with the Community</h2>
					<p>Share your reviews and connect with fellow food enthusiasts.</p>
			</div>
		</div>
	</div>
		<div class="Title">
			<div class="Title content">
				<h1>Explore our menu</h1>
				<svg width="83" height="45" viewBox="0 0 83 45" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M81.3961 6.40456L43.9003 43.9004C43.5521 44.249 43.1385 44.5256 42.6833 44.7142C42.2281 44.9029 41.7402 45.0001 41.2475 45.0001C40.7547 45.0001 40.2668 44.9029 39.8116 44.7142C39.3564 44.5256 38.9429 44.249 38.5946 43.9004L1.09884 6.40456C0.395263 5.70098 0 4.74673 0 3.75173C0 2.75672 0.395263 1.80247 1.09884 1.0989C1.80241 0.395323 2.75666 6.10352e-05 3.75167 6.10352e-05C4.74667 6.10352e-05 5.70092 0.395323 6.40449 1.0989L41.2475 35.9466L76.0905 1.0989C76.4388 0.750522 76.8524 0.474177 77.3076 0.285638C77.7628 0.097099 78.2506 6.10352e-05 78.7433 6.10352e-05C79.236 6.10352e-05 79.7238 0.097099 80.179 0.285638C80.6342 0.474177 81.0477 0.750522 81.3961 1.0989C81.7445 1.44727 82.0208 1.86085 82.2094 2.31603C82.3979 2.7712 82.4949 3.25905 82.4949 3.75173C82.4949 4.2444 82.3979 4.73225 82.2094 5.18743C82.0208 5.6426 81.7445 6.05618 81.3961 6.40456Z" fill="#FFF8E0" />
				</svg>
			</div>
		</div>
		<div class="Content-wrap flex-col">
		<div class="wrap-row">
			<div class="wrap-row-content pl7">
					<h2>Japanese cuisine</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
			<div class="wrap-row-content pr7">
				<img src="/images/Step1.png" />
			</div>
		</div>
		<div class="gradient-line"></div>
			<div class="wrap-row">
				<div class="wrap-row-content pl7">
					<img src="/images/Step1.png" />
				</div>
				<div class="wrap-row-content pr7">
					<h2>Japanese cuisine</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>				
			</div>
			<div class="gradient-line"></div>
			<div class="wrap-row">
				<div class="wrap-row-content pl7">
					<h2>Japanese cuisine</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
				<div class="wrap-row-content pr7">
					<img src="/images/Step1.png" />
				</div>
			</div>
			<div class="gradient-line"></div>
			<div class="wrap-row">
				<div class="wrap-row-content pl7">
					<img src="/images/Step1.png" />
				</div>
				<div class="wrap-row-content pr7">
					<h2>Japanese cuisine</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
			</div>
			<div class="gradient-line"></div>
	</div>
</div>
</body>

