@page "/login"
@layout EmptyLayout
<div class="container">
    <div class="row" >
        <div class="col-sm-4" style="width: 320px !important">
            <h2 style="font-size: 30px !important;">Вхід</h2>
            <EditForm Model="@Login" OnValidSubmit="LoginClicked">
                <DataAnnotationsValidator />  
                <div class="form-group">
                    <lable class="form-Label">Ел. пошта</lable>
                    <InputText @bind-Value="Login.Email" class="form-control"></InputText>
                    <ValidationMessage For="() => Login.Email" />
                </div>
                <div class="form-group mt-3">
                    <lable class="form-Label">Пароль</lable>
                    <InputText type="password" @bind-Value="Login.Password" class="form-control"></InputText>
                    <ValidationMessage For="() => Login.Password" />
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit">Увійти</button>
                </div>
                <div class="form-group mt-3">
                    <a href="/register">На сторінку реєстрації</a>
                </div>
                <div class="form-group mt-3">
                    <a href="/">На головну</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    LoginUserRequest Login = new();


    async Task LoginClicked()
    {
        await accountService.LoginAsync(Login);
    }
}
