@page "/test"
@using TinyMCE.Blazor
@using Restaurant.Client.Contracts.Blogs
@using Restaurant.Client.Services.Interfaces
@inject IBlogsService blogsService
@* @attribute [Authorize] *@
<style>    
    .forms {
        width: 50%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>Articles</h3>

<div class="forms">
<EditForm Model="request" OnValidSubmit="post">
    <DataAnnotationsValidator />
    <div class="form-group">
        <lable class="form-Label">Author Name</lable>
        <InputText @bind-Value="request.AuthorName" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <lable class="form-Label">Title</lable>
        <InputText @bind-Value="request.Title" class="form-control"></InputText>
    </div>

    
   
    <button type="submit">Підтвердити</button>
    <ValidationSummary/>
</EditForm>
<div class="form-group">
    <lable class="form-Label">Title</lable>
    <Editor Conf="editorConf" ApiKey="8zphuyb6qu417r6obeo20vs5guns8lzh7lbie76w1k8g7z19" @bind-Value="request.Content" />
</div>
<p>@createdId</p>

@* <p  style="color: white;"> @value </p>
@((MarkupString)value)   *@
</div>
@code {
    BlogsCreateRequest request = new();
    string createdId = "";

    private async Task post()
    {
        var id = await blogsService.PostBlogAsync(request);
        createdId = id.ToString();
    }

    private Dictionary<string, object> editorConf = new Dictionary<string, object>{
       {"plugins", "advlist anchor autosave image link linkchecker lists media searchreplace table template visualblocks wordcount"},
     };

}