@page "/register"
@layout EmptyLayout
@inject ICustomersService customersService
@inject NavigationManager navMan
@inject CurrentCustomer currentCustomer
@using Restaurant.Client.Services
@using Restaurant.Core.DTOs.SmallDtos

<EditForm Model="customer" OnValidSubmit="Register">
    <InputText @bind-Value="customer.Name"></InputText>
    <InputText @bind-Value="customer.Email"></InputText>    
    <InputText @bind-Value="customer.PhoneNum"></InputText>
    <InputText @bind-Value="customer.Password"></InputText>
    <button type="submit">підтвердити</button>
</EditForm>
@code {
    CustomerForCreateDto customer = new();

    private async Task Register()
    {
        await customersService.Create(customer);
        if((await currentCustomer.LogInAsync(new CustomerLogInDto(customer.Email, customer.Password))).Success)
        {
            navMan.NavigateTo("");
        }
    }
}
