.Main-Content {
    margin: 150px 0;
    justify-content: center;
}

.Container {
    width: 1200px;
    height: 750px;
    border-radius: 0 30px 30px;
    position: relative;
    background: #878477;
}
.Container div:not(.pillars){
    z-index: 2;
}
    .Container > div:nth-of-type(2) > select {
        background-color: #242121;
        color: #878477;
        border: 1px solid #242121 !important;
        transition: all 0.3s;
        outline: none;
        appearance: none;
        padding-right: 20px;
        background-image: url(/images/SelectArrow.png);
        background-position: right 1px top 50%, 0 0;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        transition: all 0.5s;
    }
    .Container > div:nth-of-type(2) > select:hover{
        background-image: url(/images/SelectArrow_Hover.png);
        color: #FFF8E0;
    }
    .Container .pillars {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        z-index: 1;
    }
        .Container .pillars::before, .Container .pillars::after,
        .Container::before, .Container::after {
            position: absolute;
            content: " ";
            width: 200px;
            height: 200px;
            background-size: contain;
            z-index: 0;
        }
    .Container::before {
        background: url(/images/reception.png) no-repeat top left;
        top:0;
        left: 300px;
        width: 300px !important;
        background-size: 100% !important;
    }
    .Container::after {
        background: url(/images/entrance.png) no-repeat right center;
        right: 0;
        background-size: auto 100% !important;
        height: 250px !important;
    }
        .Container .pillars::before {
            background: url(/images/Left_pillars.png) no-repeat left top;
            top: 0;
            height: 600px !important;
        }
        .Container .pillars::after {
            background: url(/images/Bottom_pillars.png) no-repeat bottom right;
            bottom: 150px;
            right: 0;
            width: 600px !important;
            height: 100px !important;
        }
.Content-wrap{
    height: 100%;
    align-items: normal;
}
.wrap-col {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.wrap-col-content {
    height: 100%;
}
.mid {
    width: 400px;
    /* margin: auto; */
    margin-left: 35%;
}
.wrap-col-content .vertical {
    margin: 0.2em 1em;
}
.wrap-col-content .wrap {
    margin: 0.2em 0.7em;
}
.wrap-col-content .horizontal {
    margin: 0em 0.2em;
}
.vertical, .wrap, .horizontal {
    transition: all 0.5s;
    position: relative;
}
label svg{
    opacity: 0.65;
    transition: all 0.3s;
}

::deep .wrap-col > .wrap-col-content > .vertical > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .wrap > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .horizontal > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .vertical:hover > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .wrap:hover > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .horizontal:hover > .hidden:disabled ~ svg {
    opacity: 0.3;
    transform: scale(1);
    cursor: default;
}

.vertical:hover svg, .wrap:hover svg, .horizontal:hover svg,
.vertical:checked svg, .wrap:checked svg, .horizontal:checked svg {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05);
}
.justify-end {
    margin-right: 50px;
}

::deep .hidden {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

::deep .wrap-col > .wrap-col-content > .vertical > .hidden:checked ~ svg,
::deep .wrap-col > .wrap-col-content > .wrap > .hidden:checked ~ svg,
::deep .wrap-col > .wrap-col-content > .horizontal > .hidden:checked ~ svg {
    opacity: 1;
}