.Main-Content {
    margin: 150px 0;
    justify-content: center;
}

.Container {
    width: 1200px;
    height: 750px;
    border-radius: 0 30px 30px;
    position: relative;
    background: #878477;
    /*overflow: scroll;*/
    display: flex;
    justify-content: flex-start;
}
    /*.Container::-webkit-scrollbar {
        background: #242121;
    }*/
.Container div:not(.pillars){
    z-index: 2;
}
    .Container > div:nth-of-type(3) > select {
        background-color: #242121;
        color: #878477;
        border: 1px solid #242121 !important;
        transition: all 0.3s;
        outline: none;
        appearance: none;
        padding-right: 20px;
        background-image: url(/images/SelectArrow.png);
        background-position: right 1px top 50%, 0 0;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        transition: all 0.5s;
    }
    .Container > div:nth-of-type(3) > select:hover{
        background-image: url(/images/SelectArrow_Hover.png);
        color: #FFF8E0;
    }
    .Container .pillars, .Container .RestItems {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }
        .Container .pillars::before, .Container .pillars::after,
        .Container .RestItems::before, .Container .RestItems::after {
            position: absolute;
            content: " ";
            width: 200px;
            height: 200px;
            background-size: contain;
            z-index: 0;
        }
        .Container .RestItems::before {
            background: url(/images/reception.png) no-repeat top left;
            top: 0;
            left: 25%;
            width: 300px !important;
            background-size: 100% !important;
        }
        .Container .RestItems::after {
            background: url(/images/entrance.png) no-repeat right center;
            right: 0;
            background-size: auto 100% !important;
            height: 250px !important;
            top: 30%;
        }
        .Container .pillars::before {
            background: url(/images/Left_pillars.png) no-repeat left top;
            top: 0;
            height: 600px !important;
        }
        .Container .pillars::after {
            background: url(/images/Bottom_pillars.png) no-repeat bottom right;
            bottom: 20%;
            right: 0;
            width: 45% !important;
            height: 100px !important;
            background-size: 100%;
        }
.Content-wrap {
    align-items: normal;
    width: 100%;
    height: 100% !important;
    position: absolute;
    padding: 5% 5% 1% 10%;
    top: 0;
    left: 0;
}
.wrap-col {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.wrap-col-content {
    height: 100%;
}
.mid {
    width: 400px;
    /* margin: auto; */
    margin-left: 35%;
}
.wrap-col-content .vertical {
    margin: 0.2em 1em;
}
.wrap-col-content .wrap {
    margin: 0.2em 0.7em;
}
.wrap-col-content .horizontal {
    margin: 0em 0.2em;
}
.vertical, .wrap, .horizontal {
    transition: all 0.5s;
    position: relative;
}
label svg{
    opacity: 0.65;
    transition: all 0.3s;
}

::deep .wrap-col > .wrap-col-content > .vertical > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .wrap > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .horizontal > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .vertical:hover > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .wrap:hover > .hidden:disabled ~ svg,
::deep .wrap-col > .wrap-col-content > .horizontal:hover > .hidden:disabled ~ svg {
    opacity: 0.3;
    transform: scale(1);
    cursor: default;
}

.vertical:hover svg, .wrap:hover svg, .horizontal:hover svg,
.vertical:checked svg, .wrap:checked svg, .horizontal:checked svg {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05);
}
.justify-end {
    margin-right: 50px;
}

::deep .hidden {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

::deep .wrap-col > .wrap-col-content > .vertical > .hidden:checked ~ svg,
::deep .wrap-col > .wrap-col-content > .wrap > .hidden:checked ~ svg,
::deep .wrap-col > .wrap-col-content > .horizontal > .hidden:checked ~ svg {
    opacity: 1;
}

.Container button {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    width: 50%;
    height: 50px;
    color: white !important;
    margin: 0 25%;
}
.Container button:hover{
    background: #242121;
}
@media screen and (max-width: 1500px){
    .Container{
        width: 80vw;
        height: 50vw;
    }
    ::deep label:not(.horizontal) svg {
        height: auto;
        width: 10vw;
    }
    ::deep .horizontal svg {
        height: 10vw;
        width: auto;
    }
}
@media screen and (max-width: 1300px){
    .Content-wrap {
        padding: 5% 5% 1% 12%;
    }
        .Content-wrap .wrap-col:nth-of-type(2) .wrap-col-content:first-child {
            margin-left: 20%;
        }
    .Container .RestItems::before {
        width: 250px !important;
    }
    .Container .pillars::before {
        background-size: auto 90%;
    }
    .Container .pillars::after {
        bottom: 20%;
    }
    .Container .pillars::before {
        height: 100% !important;
    }
    .Container .RestItems::after {
        right: -1px;
        background-size: auto 100% !important;
        height: 40% !important;
        top: 30%;
    }
    .Container div:nth-of-type(3) {
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 1100px){
    .mid {
        width: 300px;
    }
}
@media screen and (max-width: 900px){
    .mid {
        width: 250px;
    }
    ::deep label:not(.horizontal) svg {
        width: 8vw;
    }
    ::deep .horizontal svg {
        height: 9vw;
    }
    .Container .RestItems::before {
        width: 35% !important;
    }
    .Container .pillars::after {
        bottom: 20%;
    }
    .Container .RestItems::before {
        width: 25% !important;
        left: 30%;
    }
    .Content-wrap {
        padding: 7% 5% 1% 12%;
    }
}
@media screen and (max-width: 600px){
    .Container[b-dd2rzri0up] {
        width: 95vw;
        height: 65vw;
    }
    .Container button[b-dd2rzri0up] {
        height: 30px;
        font-size: 3vw;
        margin-bottom: -40px;
    }
    .Container div:nth-of-type(3) {
        font-size: 2.5vw;
    }
    .Container .pillars[b-dd2rzri0up]::after {
        width: 50% !important;
    }
    .Container .RestItems[b-dd2rzri0up]::before {
        width: 30% !important;
        left: 35%;
    }
    .Container .RestItems[b-dd2rzri0up]::after {
        height: 45% !important;
        top: 27.5%;
    }
    ::deep label:not(.horizontal) svg {
        width: 15vw;
        max-height: 12vw;
    }
    .mid[b-dd2rzri0up] {
        width: 250px;
        margin-left: 0;
        height: auto;
    }
    ::deep .horizontal svg {
        height: 15vw;
    }
    .Content-wrap .wrap-col:nth-of-type(2) .wrap-col-content:first-child[b-dd2rzri0up] {
        margin-left: 0%;
    }
}
