@using Restaurant.Client.Pages.Tables
@page "/SelectTable"
    <div class="Title">
        <div class="Title content">
            <h1>Choose the table</h1>
        </div>
    </div>
    <div class="Container">
        <div class="Content-wrap">
        <InputRadioGroup @bind-Value="table" @onchange="TableClicked">
                <div class="wrap-col" style="width: 40%">
                    <div class="wrap-col-content content-flex-start">
                        <TwoSeatsTable Value="1" />
                        <TwoSeatsTable Value="2" />
                        <TwoSeatsTable Value="3" />
                        <TwoSeatsTable Value="4" />
                        <TwoSeatsTable Value="5" />
                        <TwoSeatsTable Value="6" />
                    </div>
                    <div class="wrap-col-content flex-row mid">
                        <SixSeatsTable Value="7" />
                        <SixSeatsTable Value="8" />
                        <SixSeatsTable Value="9" />
                        <SixSeatsTable Value="10" />
                    </div>
                </div>
                <div class="wrap-col" style="width: 60%">
                    <div class="wrap-col-content flex-row justify-center">
                        <EightSeatsTable Value="11" />
                        <EightSeatsTable Value="12" />
                        <EightSeatsTable Value="13" />
                        <EightSeatsTable Value="14" />
                    </div>
                    <div class="wrap-col-content flex-row mid">
                        <FourSeatsTable Value="15" />
                        <FourSeatsTable Value="16" />
                        <FourSeatsTable Value="17" />
                        <FourSeatsTable Value="18" />
                        <FourSeatsTable Value="19" />
                        <FourSeatsTable Value="20" />
                    </div>
                    <div class="wrap-col-content flex-row justify-end content-flex-end">
                        <TwoSeatsTableHorizontal Value="21"/>
                        <TwoSeatsTableHorizontal Value="22" />
                        <TwoSeatsTableHorizontal Value="23" />
                        <TwoSeatsTableHorizontal Value="24" />
                        <TwoSeatsTableHorizontal Value="25" />
                        <TwoSeatsTableHorizontal Value="26" />
                        <TwoSeatsTableHorizontal Value="27" />
                        <TwoSeatsTableHorizontal Value="28" />
                    </div>
                </div>
            </InputRadioGroup>
        </div>
    </div>
@code {
    int table = 0;

    private async Task TableClicked()
    {
        
    }
}
